[2020-03-24 01:13] naseemkullah opened #1 "Add fluentd chart"

[2020-03-24 19:11] stvnwrgs opened #2 "image.version is fixed which prevents the usage of own loki images with installed plugins"
Hey,

awesome work so far! All the other charts are quite bad configurable. This looks really nice to use. I only have one problem. As we use a customized fluentbit, the tightly coupled image version over the `.Chart.AppVersion` blocks us from using our image.

What about:

[code]

This way you could still increase versions based on the chart version and also offer custom images.

[2020-03-26 01:59] asherf opened #3 "Differences from the fluent-bit chart in helm/charts"
I am looking into migrating from using the [helm chart]https://github.com/helm/charts/blob/master/stable/fluent-bit/) to using the chart from this repo.
This makes sense since that repo is [being deprecated](https://github.com/helm/charts#deprecation-timeline)

Upon looking at the fluent-bit chart here, there seem to be less "stuff" here, while some of them make sense (apiVersions, for example, it

[2020-03-26 15:36] naseemkullah commented on #3
Hi @asherf, my apologies for not yet having documented a migration path, but worth noting that I do believe this new chart retains all previous functionality (in fact it has unlimited functionality in terms of fluent bit configuration) but the implementation is different.

What I mean is that by allowing the user to put what they want in `.Values.config.<section>`, there is no need to bubble up op

[2020-03-26 15:38] naseemkullah commented on #2
Thanks for the kind words @stvnwrgs ! :)

That SGTM, would you mind opening a PR? 🙏

[2020-03-26 15:38] naseemkullah commented on #2
FYI I just changed the way config is set from a list of key val to blocks of text in case you are using the chart already!

[2020-03-26 15:39] naseemkullah commented on #3
FYI I just changed the way config is set from a list of key val to blocks of text in case you are using the chart already!

[2020-03-27 02:46] naseemkullah commented on #2
one nit: seems like `tag` is used more than `version` if you look at charts in stable repo

[2020-03-27 13:58] naseemkullah commented on #2
Hi @stvnwrgs, OOC if [loki were a supported output](https://github.com/fluent/fluent-bit/issues/994) would you still require a custom image?

[2020-03-27 21:17] asherf commented on #3
@naseemkullah sounds good! I will try migrating my fluent-bit based chart from the helm repo to this one.

[2020-03-27 21:17] #3 closed

[2020-03-27 21:28] naseemkullah commented on #3
Great to hear @asherf ! Please keep me informed as to any pain points you encounter as that could help for the migration guide we plan to provide on stable repo upon announcing this chart!

Cheers

[2020-04-02 15:28] sppwf opened #5 "Add Servicemonitor support"
Hi Team,

Do you think adding support for serviceMonitors used with Prometheus Operator?

Thanks
Sergiu

[2020-04-02 15:29] naseemkullah commented on #5
Yes! PR is most welcome 🙏

[2020-04-02 15:55] asherf commented on #5
@sppwf @naseemkullah  does a PodMonitor makes more sense at this point ?
https://github.com/coreos/prometheus-operator/blob/master/Documentation/design.md#podmonitor

[2020-04-02 16:05] naseemkullah commented on #5
Not sur @asherf , from a vanilla Prometheus point of view, scraping the service target does a good job!

[2020-04-02 16:14] asherf commented on #5
Maybe I am getting this wrong, but from what I understand if you create  a k8s service and scrape it using a service monitor, since the service is essentially a load balancer for every fluent bit pod, every time  Prometheus hits the service, it will hit a different fluent bit pod... so you are not getting a full view of the metrics all of the fluent bit pods are producing.

[2020-04-02 16:30] naseemkullah commented on #5
That sounds reasonable @asherf ! I wish there were some clearer docs on when to scrape at a pod level vs a service level!

@sppwf thoughts?

[2020-04-02 17:09] asherf commented on #5
Maybe this helps:
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#podmonitor
https://github.com/helm/charts/blob/edecc9842d1a63758c3bd0fc13a5d019e079f656/stable/prometheus-operator/templates/prometheus/podmonitors.yaml

[2020-04-02 17:19] mbarrien commented on #2
Similar issue with getting the cloudwatch plugin. I can override the repository to "amazon/aws-for-fluent-bit" but can't override the tag to the ones they use.

You can't get every single possible output plugin into this and people will inevitable use their own image based on the same underlying fluent-bit version; let's make this configurable via a image.tag value or something similar.

[2020-04-02 17:31] naseemkullah commented on #2
sgtm, PR is welcome!

[2020-04-02 17:39] sppwf commented on #5
well, the service itself is used to discover the endpoints. Endpoints are Pods, so Prometheus will monitor all the pods selected by service.

I will put a PR theses days

[2020-04-02 17:45] asherf commented on #5
@sppwf that is good to know. thanks! I was indeed confused by those objects!

[2020-04-02 21:43] #2 closed

[2020-04-03 07:00] sppwf commented on #1
Waiting for this, do you think I can help?

[2020-04-03 23:11] BarthV commented on #1
I'm joining this move too !
Feel free to ask for any kind of help  (design, dev, test, ..)

[2020-04-05 00:11] naseemkullah commented on #5
Closed via #6

[2020-04-06 03:43] naseemkullah commented on #1
Thanks @sppwf and @BarthV !
How are you using fluentd today? As a daemonset? What output do you use?

It seems like fluentd hardcode their output plugins in the images as per https://github.com/fluent/fluentd-kubernetes-daemonset

@repeatedly can you please confirm above statement?

I've gotten started on something here: https://github.com/fluent/helm-charts/tree/master/charts/fluentd

[2020-04-06 06:43] sppwf commented on #1
Hi @naseemkullah,

In my current environment, I use like this:
    - fluent-bit - send logs to Elasticsearch directly and to Fluentd
    - Fluentd as deployment. It copy logs from CloudWatch and sends the data to S3 for a long time archiving

The Idea is that fluent-bit is enough for me from log manipulation perspective, however, it seems that in the future I will need to move to fluentd as daemon

[2020-04-06 06:43] BarthV commented on #1
I'm mainly using fluentd as event router & aggregator in my k8s clusters. While I'm using fluentbit in daemonset as log collector for it's lighter footprint.
My main output is ES output.

And yes, fluentd plugins are (mostly) ruby gems pre-installed during docker build , but nothing prevent you from running a side-car pod trying to install new plugins from base image before starting fluentd.

This

[2020-04-06 17:30] naseemkullah commented on #1
Thanks @sppwf and @BarthV !

Would it make sense to create a template for the pod as done in the grafana chart: https://github.com/helm/charts/blob/master/stable/grafana/templates/_pod.tpl

That's to say, wether it is deployed as Daemonset or Deployment, the pod spec should be the same?

@BarthV That is super interesting, and yes ultimately straightforward for now at least is the best option, let'

[2020-04-06 21:14] naseemkullah commented on #5
I am having difficulties with fluent bit metrics by scraping the service and will probably do it via pods to see if its better.

@sppwf Do you have any interest in using the PodMonitor instead? I'm thinking if so we could not create a fluent-bit service...

Tom Wilkie does into this in https://groups.google.com/forum/#!topic/prometheus-users/jDEzVHUUFzw  saying that one should not create a svc sim

[2020-04-06 21:44] naseemkullah commented on #5
@sppwf For example try this dashboard https://grafana.com/grafana/dashboards/7752

It yields much better results if we scrape the pods directly (pod names)... thoughts?

If you agree we can do as @asherf suggested. I would go as far as remove the serviceMonitor value and even the service itself.

[2020-04-07 03:28] naseemkullah commented on #1
Hello,

Please see https://github.com/fluent/helm-charts/commit/c417ba5a1a0450ec5bee8b8256e3ea6188748ee8 where I've added the `kind` value so the workload can be deployed as a Daemonset (default) or Deployment.

I tried exposing the forward port `24224` but it seems like no image has this by default?
What image are you guys using? Customized via sidecar as @BarthV mentioned?

[2020-04-07 06:01] sppwf commented on #5
Well, the podMonitor is used yum want to discover and after that monitor a pod that is not associated with a service. This also can be applied to sidecar containers.
ServiceMonitor help to discover pods served by a service and after that prometheus will scrape the metrics on each pod based on the path specified in serviceMonitor definition.
If you check prometheus for fluntbit counters, you will h

[2020-04-07 12:41] naseemkullah commented on #5
Thanks for sharing @sppwf!

[2020-04-07 12:41] #5 closed

[2020-04-08 11:23] sppwf commented on #1
@naseemkullah smart move using pod template for both deployment and daemonset

[2020-04-14 14:49] nesl247 commented on #1
Is there a plan for an easy way to add plugins? For example we need to add https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud.

[2020-04-14 16:37] nesl247 opened #10 "Extra volumes and volume mounts do not work in fluentd"
I'm getting `YAML parse error on fluentd/templates/daemonset.yaml: error converting YAML to JSON: yaml: line 65: mapping values are not allowed in this context`

[2020-04-14 16:55] #10 closed

[2020-04-14 16:56] naseemkullah commented on #1
There is no plan, but we need one @nesl247

@BarthV has mentioned the use of a sidecar.

Any other idea?

[2020-04-14 16:57] naseemkullah commented on #1
@repeatedly Can you please advise how to add plugins to the daemonset images?

[2020-04-24 06:37] nvtkaszpir opened #12 "[fluentd] Add StatefulSet"
In general it would allow to create `log aggregator` instances, as described at https://docs.fluentd.org/deployment/high-availability but in more like a active-active setup.

**Use case:**
We use fluentd as daemonset but with custom config which forwards all processed events into another fluentd instance.
That fluentd instance is later on sending data to elasticsearch. It is more like a buffer for

[2020-05-04 20:39] pbradly opened #13 "[fluentd] failure to push to elastic search"
I've been trying to deploy fluentd onto our kubernetes cluster and connect it to a fresh install of elasticsearch (using the helm chart elastic provide [here](https://github.com/elastic/helm-charts/tree/master/elasticsearch) however I keep getting the following error;

[code]

I'm deploying using Helm 3.2 onto a Kubernetes 1.15.5 cluster on AWS.

[2020-05-07 10:50] pierluigilenoci opened #14 "Which chart to use?"
We are planning the migration to the use of Helm Hub in our clusters and we wanted to understand which is the best version of Chart for Fluent-bit. The "historical" chart [1] seems to me more complete and maintained than the one present here.

I especially ask @edsiper who seems to be involved in both.

[1] https://github.com/helm/charts/tree/master/stable/fluent-bit

[2020-05-07 11:51] naseemkullah commented on #12
Thanks @nvtkaszpir , sorry for the delay in responding. Would you be interested in submitting a PR? The pod template can be leveraged for the statefulset: https://github.com/fluent/helm-charts/blob/master/charts/fluentd/templates/_pod.tpl to keep pod consistent across workload types.

[2020-05-07 11:53] naseemkullah commented on #13
Hi @pbradly , that's weird, I guess the obvious question is are they both deployed in the same namespace? Whats the output for `kubectl get services` (is `elasticsearch-master` there?) Also are all es pods in a healthy state?

[2020-05-07 12:36] kamiljsokolowski opened #15 "Ability to add custom config files is missing"
(currently) there is no ability to define custom config files either by:
1. Adding one via a predefined `include` block or a custom YAML block in `values.yaml`
2. Configuring a set of variables to dynamically build one from a predefined template.

Are there any plans in implementing any one of the above in the near future?

[2020-05-07 13:09] nvtkaszpir commented on #12
Maybe next week I'll be able to do it, will see.

[2020-05-07 13:33] naseemkullah commented on #15
Hi @kamiljsokolowski, just to confirm: this must be for the fluentd chart(WIP)?
I believe fluent-bit has this covered.

[2020-05-07 17:29] pbradly commented on #13
Hey @naseemkullah , so they were both deployed into the same namespace on the same cluster. The services all exist;
[code]

and the pods are all in a healthy state;
[code]

I was able to get it working by passing in the DNS for the service object on the cluster (not inclosed in quotes);
[code]

Just to confirm. Does the value of the `FLUENT_ELASTICSEARCH_HOST` need to be the DNS or IP of the elast

[2020-05-08 05:22] Towmeykaw commented on #14
The "stable" chart will not be maintained for long so if you can I would recommend using the new chart. If anything is missing feel free to open an issue or a PR 😃

[2020-05-08 18:02] naseemkullah commented on #13
Hostname is the way to go, hmm fwiw I usually use `elasticsearch-master(.namespave.svc)` rather than the headless service, try that maybe?

[2020-05-11 08:20] krezovic opened #16 "[fluentd] Forward service configuration"
Is this still WIP, because the Kubernetes service block for forwarding port is commented out?

[2020-05-11 09:48] pierluigilenoci commented on #14
To briefly summarize the missing features that I see here (but maybe I simply overlooked)

- No explicit PodSecurityPolicy
- No default support for Audit (/var/log/kube-apiserver-audit.log)

After having better studied the chart I can understand the will to redo it from scratch but I suggest the creation of a migration guide between chart. It was challenging to figure out how.

I will put my hands

[2020-05-11 12:54] naseemkullah commented on #14
https://github.com/fluent/helm-charts/pull/8 is open so PSP coming soon.

That is true, please use `extraVolumes` and `extraVolumeMounts` today. If this mounting is common enough we can either enable it by default or create an explicit value for it, this can be discussed in an issue.

💯 true. I have not had the bandwith to create a migration guide. If you could contribute yours that would be great

[2020-05-11 13:40] pierluigilenoci opened #17 "[fluent-bit] Add support for audit logs"
Please add support for audit logs.
ex: `/var/log/kube-apiserver-audit.log` (default path of stable/fluent-bit chart)

As suggested by @naseemkullah (https://github.com/fluent/helm-charts/issues/14#issuecomment-626683618) this is possible now only using `extraVolumes` and `extraVolumeMounts`. Something more integrated would be preferable.

The path of audit file can change, depends on apiserver con

[2020-05-11 13:45] pierluigilenoci opened #18 "[fluent-bit] Migration guide"
I tried to migrate from the old stable chart [1] to this new one and found it quite complex. A guide to migration would be a good thing in a view to deprecating the stable chart. This subject has already been discussed. [2]

@naseemkullah

[1] https://github.com/helm/charts/tree/master/stable/fluent-bit
[2] https://github.com/fluent/helm-charts/issues/14#issuecomment-626683618

[2020-05-11 13:46] pierluigilenoci commented on #14
As you can see I created one issue for audit logs and one for the migration guide. I suggest closing this topic.

[2020-05-11 13:47] naseemkullah commented on #14
Thanks @pierluigilenoci

[2020-05-11 13:47] #14 closed

[2020-05-11 13:51] naseemkullah commented on #16
The chart is still WIP @krezovic , we are relying on community members to get this to a point that we can deploy it. There is a valiant effort https://github.com/fluent/helm-charts/pull/11 by @sppwf but we still have some details to work out.

[2020-05-12 14:08] naseemkullah commented on #13
@pbradly did you try using the non headless service (`elasticsearch-master`) by any chance?

[2020-05-12 14:33] pbradly commented on #13
When we intially deployed fluentd we used the non headless server `elasticsearch-master` and had the same issue.

In the end we created an ingress object pointing to the headless server `elasticsearch-master-headless` and used the url for that. This solution is working for us so it is possible that the issue was with passing in the name of the service instead of the hostname.

[2020-05-12 14:43] naseemkullah commented on #13
I'm glad you found a temporary workaround, but this is not ideal...

I don't get it, according to https://github.com/fluent/fluentd-kubernetes-daemonset/blob/4d0d1af9bcbb4f8b40b8cda58e4a0562dfe1a406/fluentd-daemonset-elasticsearch.yaml#L26-L32 this should work.

This chart is still a WIP by the way!

[2020-06-06 15:46] marshallford opened #20 "Feature/values parity with stable/fluent-bit"
With the scheduled stable chart repo obsolescence on the horizon it is reasonable to predict a significant uptick in the number of folks consuming the charts found in this repo. With that in mind, I'm wondering if PRs to improve the feature parity and supported values of the fluent-bit chart would be accepted by the maintainers of this repo. I'm thinking that aiming for 1:1 support isn't worth the

[2020-06-06 15:51] marshallford commented on #20
A quick thought: If the fluent-bit config is valid ini, perhaps as first stab the chart could convert yaml into ini syntax similar to the [grafana chart](https://github.com/helm/charts/blob/master/stable/grafana/templates/configmap.yaml#L12).

[2020-06-09 04:36] naseemkullah commented on #20
The point of this chart is to avoid becoming as complex in terms of configuration options as its predecessor, as such we it does require that the consumer do a bit more work at the benefit of having more flexibility and not needing for values to bubble up to the chart.

With that said the yaml to ini approach may be worth while despite the breaking change... @edsiper could you please confirm if th

[2020-06-12 22:27] naseemkullah commented on #20
Hi Marshall,

I did some asking around and

and

[code]

[2020-06-12 22:28] naseemkullah commented on #20
@edsiper Could you please confirm that fluent bit config is neither valid INI nor valid TOML?

[2020-06-25 21:18] mikebou opened #23 "feature: deploy fluent-bit without kubernetes monitoring"
fluent-bit is an excellent fast and lightweight log parser and forwarder. It makes an excellent choice for forwarding logs to upstream enterprise reporting solutions without capturing the kubernetes logs

A simply method to disable the kubernetes monitoring

**Describe alternatives you've considered**
rolling my own chart

**Additional context**
the immediate use case is for the network team to cr

[2020-06-25 22:09] naseemkullah commented on #23
Could you please paste the error message(s)? Thanks.

[2020-06-26 12:53] mikebou commented on #23
Hi Naseem,

my apologies. There is no true error. This request is a feature or
enhancement.

The chart is doing exactly what it has been developed to do. It deploys a
daemon set and attempts to mount several hostpaths to access the kubernetes
logs. There is an error message from the mount failing. Here is the message.
Warning  FailedCreate  2m58s (x18 over 8m35s)  daemonset-controller  Error
creat

[2020-06-26 16:11] stevehipwell commented on #12
Any progress on this?

[2020-06-26 16:30] nvtkaszpir commented on #12
I wasn't able to do it recently due to maultiple reasons, but in the upcoming two weeks it is on my todo list.

[2020-06-27 06:17] naseemkullah commented on #23
Thanks for clarifying Mike, so the networking team is using helm to deploy a fluent bit daemonset on kubernetes deployed on switches and routers?

I think I might have a solution that will break some things for current users though. Let me think about this for a few more days. :)

[2020-06-27 06:19] naseemkullah commented on #17
After. much thought, I think use of `volumes` and `volumeMounts` (coming soon, in replacement of `extraVolumes` and `extraVolumeMounts`) will be the approach. I want to keep this chart *highly* configurable, at the expense of end user having to take some of this config on a little more explicitly.

[2020-06-29 13:08] stevehipwell commented on #12
@nvtkaszpir are you working from the current stable chart, another chart (bitnami) or from scratch?

[2020-06-29 13:50] nvtkaszpir commented on #12
I haven't decided yet, looks like current chart will be expanded with `statefulset.yaml`.

First I want to add code to use for PR under github, something like this:
- trigger github actions
- spawn KIND cluster
- run helm chart-testing
- add additional `ci/` directories with values files to test different scenarios.

That would be the base for further mprovements.

[2020-06-29 14:15] stevehipwell commented on #12
@nvtkaszpir I'd strongly suggest basing your chart changes on `stable/fluentd` (the stateful set parts). My pain points are currently around the way that the `stable/fluentd` _Helm_ chart is so tightly linked to the _Docker_ image, plus the fact that there isn't a default _FluentD_ image anywhere with the correct config to install plugins dynamically (the image in [stable/fluentd](https://github.c

[2020-06-29 15:51] nvtkaszpir commented on #12
used image is another story, because it really depends what we want to get from fluentd:
- just basic input/output? stick to official fluentd image https://hub.docker.com/r/fluent/fluentd/
- fetch logs from hosts in k8s? - try https://github.com/fluent/fluentd-kubernetes-daemonset
- anything else should allow using custom image (because installing gem files on container launch is rather bad idea,

[2020-06-30 02:57] naseemkullah commented on #23
Hi @mikebou I'm not sure I fully understand the use case yet. It's to use helm to deploy fluent-bit to kubernetes, but not to collect k8s or node level metrics?

[2020-06-30 13:20] naseemkullah commented on #17
Thanks again for raising this @pierluigilenoci, `extraVolumes` and `extraVolumeMounts` it is for now.

[2020-06-30 13:20] #17 closed

[2020-06-30 17:01] mikebou commented on #23
Correct. A user is attempting to deploy an instance of fluent-bit that has
a single input of syslog with multiple outputs of splunk and ELK.

today that user is standing up an entire VM running a linux OS instance
just to perform this log forwarding. Running a fluent-bit container is a
better option. This solution does not need a daemonset just enough pod
deployments to meet the load and availabil

[2020-06-30 17:06] naseemkullah commented on #23
ok so you would like to run a fluent bit deployment without any attached volumes, is that it?

[2020-06-30 17:08] naseemkullah commented on #23
Thanks Mike,

Could you do me a favour and first create the confirmed config that works for you in raw k8s yaml, paste it here and we can see how to best shape the chart to adhere to that.

[2020-07-07 02:17] naseemkullah commented on #23
Hi Mike, any update on your end as to what a working config would look like?

A deployment (as opposed to daemonset) with no mounted host volumes I guess?

[2020-07-07 02:17] naseemkullah commented on #23
Also please confirm if your org would still be interested in using this helm chart if adapted, or have found a workaround.

[2020-07-07 19:03] edsiper commented on #20
Fluent Bit config format is not INI/TOML, it have it's own format:

https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/format-schema

[2020-07-09 13:09] pierluigilenoci opened #26 "Fluent-bit PodSecurityPolicy support"
In this chart PodSecurityPolicy is completely missing
Ref: https://github.com/helm/charts/blob/master/stable/fluent-bit/templates/psp.yaml

[2020-07-09 13:15] naseemkullah commented on #26
Thanks @pierluigilenoci, up for a PR? If not I will get to it when I get some free time in the coming days!

[2020-07-09 14:13] pierluigilenoci commented on #26
This week I don't think I can work on it. 😞
If in the next week I manage to cut some time I'll do. But I don't guarantee it. 😝

[2020-07-10 03:43] naseemkullah commented on #26
Np, I found some time this evening and implemented via https://github.com/fluent/helm-charts/commit/cd0ed30491bf7cf37f40cac5b47389f3760aed44

I'll close this issue now if that's alright with you!

[2020-07-10 09:07] pierluigilenoci commented on #26
Thank you!!!!

[2020-07-10 09:08] pierluigilenoci commented on #26
Solved by @naseemkullah with https://github.com/fluent/helm-charts/commit/cd0ed30491bf7cf37f40cac5b47389f3760aed44

[2020-07-10 09:08] #26 closed

[2020-07-10 12:48] naseemkullah commented on #26
My pleasure!

[2020-07-14 20:00] mikebou commented on #23
The work around would be to create my own chart. the deployment should be
straightforward. It is a task that I hope to accomplish this week.

In general, my organization sticks with published, community maintained
charts. We appreciate the greater expertise that option provides.

Mike

On Mon, Jul 6, 2020 at 9:17 PM Naseem <notifications@github.com> wrote:

[2020-07-14 20:06] naseemkullah commented on #23
Thanks Mike, what I meant is in terms of k8s config what would be needed, a deployment with no mounted host volumes, correct?

[2020-07-16 12:41] mikebou commented on #23
correct. the system mount points would not be required. Removing these
mounts also removed the requirement for privileged access.

There would still be require for configmaps to provide the input, filter
and output configurations.

MIke

On Tue, Jul 14, 2020 at 3:06 PM Naseem <notifications@github.com> wrote:

[2020-07-16 13:10] naseemkullah commented on #23
Thanks for confirming @mikebou , if you/the team can wait just a little longer, I'll try to have something by Monday in this chart, to be able to deploy a `deployment` without the mounted volumes, does that work?

[2020-07-16 13:16] naseemkullah commented on #23
i.e. I plan to add an option to create a `deployment` instead of a `daemonset`, and when chosen, it will not mount host volumes (I don't see a use case for mounting host volumes if a deployment).

[2020-07-17 01:19] naseemkullah commented on #23
@mikebou The change has been made, see https://github.com/fluent/helm-charts/blob/6cba78cfb4d3c8e0b51c265cae49d786dde317b2/charts/fluent-bit/values.yaml#L4 for the configurable value `kind` ... when set to `Deployment` the host volumes will not be mounted. Please let me know ASAP if this works for you and your team. Thanks!

[2020-07-20 21:05] mikebou commented on #23
Hi Naseem,

the basics are there and working great. However, the use case is accepting
syslog and forwarding everything to ELK. The parser as defined in the INPUT
section is sufficient. We plan to forward everything so there is no
requirement for a FILTER or PARSE section. The helm chart fails if either
of those sections is removed. Would you consider wrapping the
configuration sections in if stat

[2020-07-20 22:31] mikebou commented on #23
the updates to the charts have met my requirements!

[2020-07-20 22:31] #23 closed

[2020-07-20 22:47] naseemkullah commented on #23
Hi @mikebou is the above still an issue?

[2020-07-21 11:13] mikebou commented on #23
No. Working with a colleague, we passed an empty string as the
configuration object for the filter. I am certain the parser works.in a
similar fashion. I hope to have something deployed with that chart today.

Thank you for the quick response.

Mike

On Mon, Jul 20, 2020, 5:48 PM Naseem <notifications@github.com> wrote:

[2020-08-04 15:02] stevehipwell commented on #12
@nvtkaszpir I'm not sure if it helps but I've created a statefulset _Helm_ chart for _Fluentd_ as part of my chart repo https://github.com/stevehipwell/helm-charts/tree/master/charts/fluentd.

Also in my opinion, when running as an aggregator (statefulset) the small startup cost of installing a limited set of plugins far outweighs the complexity of managing a custom _Docker_ image. So a chart for

[2020-08-28 21:40] Towmeykaw opened #29 "[fluent-bit] Different way of doing config"
Hi! I was messing around a bit with the config of fluent-bit. One problem I see currently is the inability to mix sections such as [INPUT][FILTER][INPUT].
I made a quick test using a list in values.yaml.
[code]
and then rendering it with a range
[code]
Is this something we want? It could be used a second option and still keep the current solution.
If so then I can make a PR, and otherwise it was a

[2020-08-28 23:40] naseemkullah commented on #29
Thanks for raising this @Towmeykaw.

Does the result of having it as `[INPUT][FILTER][INPUT]` differ from `[INPUT][INPUT][FILTER]` ? If so could you provide some examples/links to documentation as to how?

[2020-08-29 09:06] Towmeykaw commented on #29
I know we had a discussion about in the old chart but I can't actually find any docs talking about it so I guess it might not be a problem. So then it's more a preference I guess. The upside with using objects is that they can be validated with a schema file.

[2020-08-29 23:37] naseemkullah commented on #29
If we can add this method while retaining the current, sgtm

[2020-08-31 10:00] nimrodishi opened #30 "support for [PLUGINS]"
Hey, this might not even be an issue as I'm new to helm, this chart and fluent-bit in general.
I want to add a [PLUGINS] block (is this the terminology?) (currently under plugins.conf).
Is it possible here? it should be similar to config.customParser/config.inputs etc/...
Is there a workaround if not?

Thanks!

[2020-09-01 03:31] naseemkullah commented on #30
Hello and welcome, can you confirm that this is for fluentd and not fluent-bit? fluent-bit does not have such a section type ([PLUGIN]) as per https://fluentbit.io/documentation/0.13/configuration/file.html

As for fluentd, the chart is still a WIP and PRs are most welcome

[2020-09-01 04:39] bugok commented on #30
We currently use the plugins section to load an so file like described here: https://docs.fluentbit.io/manual/development/golang-output-plugins

[2020-09-01 05:00] naseemkullah commented on #30
Thanks, I am unfamiliar with this feature, but I believe today you could:

1) pre-create the plugins conf file as a configmap (outside of this chart)
2) mount it via the [extraVolumes + extraVolumeMounts values](https://github.com/fluent/helm-charts/blob/3c4a3dbe6ad8bb50a3a6d9e3261a5bcb5d8cb211/charts/fluent-bit/values.yaml#L90-L92)
3) Configure [SERVICE](https://github.com/fluent/helm-charts/blob

[2020-09-01 06:57] bugok commented on #30
@naseemkullah : Thanks for your suggestion. Getting the so into fluentbit's config using the `[SERVICE]` section was something I was unaware of.

A small change to your suggestion: I think that including a plugins.conf file into the image itself would be better, as it encapsulates everything about the plugin, we won't require using the mounts. We're already building an a docker image on top of the

[2020-09-02 17:38] nimrodishi opened #31 "adding lua filter"
What's the best way to add a lua script for filtering?
I have a .lua file containing the script but can't find where to put it.
thanks!

[2020-09-03 01:41] naseemkullah commented on #31
There is no such option in the chart today, but I think this can be achieved if you:

1) create a configmap outside of this chart
2) mount it via extraVolumes/extraVolumeMounts
3) Add the required config in `config.filters`

If this works out for you could you please add a section in the README ?

Also PR is welcome to facilitate this

[2020-09-03 14:09] nimi-d commented on #31
I'm having some trouble setting these, probably because I'm also new to k8s and helm in general. I'm doing this through terraform. This is my effort so far:
`
resource "kubernetes_config_map" "lua_script_config" {
  metadata {
    name      = "lua-script-config-map"
    namespace = var.namespace
  }

  data = {
    "${local.lua_script_name}.lua" = file(local.lua_script_path)
  }
}

resource "helm_

[2020-09-15 11:57] nvtkaszpir commented on #13
You should not push logs to elasticsearch-master but elasticsearch-client headless service, especially if you use official chart from elasticsearch.

[2020-09-15 19:09] naseemkullah commented on #13
Thanks @nvtkaszpir TIL

[2020-09-16 20:54] nvtkaszpir commented on #12
Sorry for delay (lots of things on the head).
I've been doing some helm chart updates this week, which should address multiple issues already reported.

In short:
- I've backported sts, custom configs and custom images (and more) into the chart
- I'm finalizing test suite to run with `ct` and `kind` and docs.

PR should be ready this week.

[2020-09-21 19:23] nvtkaszpir commented on #12
Okay, took a bit longer than expected due to other issues, but I'm aiming at this Thursday with some PR labeled as Work In Progress.

The major slowdowns were:
- fluend in docker REALLY avoids dealing with buffers
- get ready to run your own customized container, because there is no official 'all and the kitchen sink' container version
- /fluentd/ since 1.x requires some config adjustments
- offic

[2020-09-30 21:23] dshackith opened #36 "[fluent-bit] Add pod-labels"
In the current values file, the only place to add custom labels is at the service. Labels are added to deployment and pod, but these are generated via templates, and not exposed in values file. What I would like to see is an option similar to podAnnotations for labels (eg. podLabels).
We use this to track team ownership for cost reporting.

[2020-09-30 23:31] naseemkullah commented on #36
The podLabels option sounds good, would you be willing to submit a PR?

[2020-10-02 12:23] Kamerads opened #37 "tls_verify: "on" tls_ca: """
Tell me how to transfer CA.pem file to pod fluent-bit
There is a setting
tls: "on"
     tls_verify: "on"
     # TLS certificate for the Elastic (in PEM format). Use if tls = on and tls_verify = on.
     tls_ca: ""
     # TLS debugging levels = 1-4
In the line tls_ca: "" write the path to CA.pem?
How does the CA.pem file get into the pod?

[2020-10-02 12:51] naseemkullah commented on #37
This would be by means of extraVolumes and extraVolumeMounts. If that works, a paragraph in the readme would be most appreciated.

[2020-10-02 12:57] Kamerads commented on #37
Do I need to modify the chart?

[2020-10-02 13:03] naseemkullah commented on #37
I don't think so, extraVolumes and extraVolumeMounts values should be of use here.

[2020-10-05 17:01] dshackith commented on #36
Created #38

[2020-10-07 13:09] dshackith commented on #36
Closed by #38

[2020-10-07 13:09] #36 closed

[2020-10-12 09:59] stevehipwell commented on #12
@nvtkaszpir how are you getting on with this?

I've got a couple of questions/suggestions:

- Are you planning on creating a separate chart for aggregation via a statefulset, e.g. _fluentd-aggregator_?
  - This would allow you to keep the chart very simple which seems to be the purpose of the charts in this repo (specifically _fluent-bit_)
- Are you using the _Grafana_ sidecar pattern for dashboar

[2020-10-12 10:36] nvtkaszpir commented on #12
Sorry for delay, some urgent private stuff popped out, so no PR yet.

fluent-bit is another story.

After some work it looks like keeping daemonsets, deployments and statefulsets in the same chart is indeed problematic. Some things can be done with _pod template, but most of differences are between sts/deployment/daemonset especialy because of containers and configs used.
I've managed to create sp

[2020-10-20 08:21] jmw847 opened #39 "Output plugin 'loki' cannot be loaded - fluent/fluent-bit:1.6.1"
In our Kubernetes cluster we use Fluentbit, Loki and Grafana.
Since the fluentbit image 1.6.1 contains a Loki output plugin, we wanted to use the fluentbit image 1.6.1 in the helm chart.

We get the following error message from the fluentbit pod:

`2020-10-20T07:55:43.405588570Z Fluent Bit v1.6.0
2020-10-20T07:55:43.405668159Z * Copyright (C) 2019-2020 The Fluent Bit Authors
2020-10-20T07:55:43.40

[2020-10-20 09:57] jmw847 commented on #39
https://github.com/fluent/fluent-bit/issues/2707

[2020-10-20 09:57] #39 closed

[2020-11-10 08:57] amourad-freenetdigital opened #41 "Is there a way to remove the prefix (kubernetes_<field>) from the the fields that kubernetes filter extracts?"
I'm deploying fluent-bit as a Daemonset with the following configmap

[code]

all the GELF message recieved by Graylog which comes from kubernetes filter are prefixed with "kubernetes_" such as : `kubernetes_container_name`, `kubernetes_container_image` ,` kubernetes_labels_release` , and so on.  I would like to find a way to only extract the kuberenetes info without appending the ` kubernetes_`

[2020-11-10 09:53] #41 closed

[2020-11-23 09:51] stevehipwell opened #43 "[fluent-bit] Update image to 1.6.5"
[fluent-bit 1.6.5](https://github.com/fluent/fluent-bit/releases/tag/v1.6.5) has now been released and it would be useful to have the chart updated to use this image.

[2020-11-24 10:42] MrD2 commented on #16
@naseemkullah @sppwf Are you time constrained?

I really need this, i might pick it up

[2020-11-24 13:51] naseemkullah commented on #16
I am not actively working on either chart, simply overseeing their maintenance at this point, as for @sppwf he has not reached back for a while so by all means, please do @MrD2

[2020-11-24 16:53] sbaier1 commented on #15
this is for the chart, i'm also looking for this feature

[2020-11-25 08:17] stevehipwell commented on #43
This has been resolved by release [fluent-bit-0.7.6](https://github.com/fluent/helm-charts/releases/tag/fluent-bit-0.7.6).

[2020-11-25 08:17] #43 closed

[2020-11-25 08:20] stevehipwell opened #45 "[fluent-bit] Update image to v1.6.6"
The _fluent-bit_ v1.6.6 [release](https://fluentbit.io/announcements/v1.6.6/) has been created to fix https://github.com/fluent/fluent-bit/issues/2797. As v1.6.5 had a severe regression it would be good to get v1.6.6 into the helm chart.

[2020-11-26 12:26] jkroepke opened #48 "deploy.spec.updateStrategy vs. deploy.spec.strategy"
Inside the deployment manifest, `updateStrategy` is not expected here.

https://github.com/fluent/helm-charts/blob/9cd42500cb42d655841a8d6770937f89077157d4/charts/fluent-bit/templates/deployment.yaml#L11-L13

[code]

![image](https://user-images.githubusercontent.com/1560587/100350695-8ed35780-2fea-11eb-8c43-fea3ba79a6ab.png)

I could provide a PR to fix this (and update the values key name, too).

[2020-11-26 12:55] naseemkullah commented on #48
Thanks for flagging and offering to create a PR @jkroepke !

This would be a patch since it is a bug fix. 🐛

[2020-11-26 13:23] #48 closed

[2020-11-30 12:03] MrD2 commented on #16
Very well, i already started working on this, i might have something next week

[2020-11-30 14:51] sebbrandt87 commented on #48
🙇‍♂️

[2020-12-01 19:05] cabrinha commented on #45
This is done.

[2020-12-01 19:05] naseemkullah commented on #45
closed via #47

[2020-12-01 19:05] #45 closed

[2020-12-01 19:37] cabrinha opened #50 "[fluent-bit] configurable readiness / liveness probes"
Currently, the readiness and liveness probes are static.

Let's make them configurable.

[2020-12-01 19:59] cabrinha commented on #50
My PR was merged in less than 15 minutes. Thanks!

[2020-12-01 19:59] #50 closed

[2020-12-16 13:01] kkujawa-sumo commented on #18
I've also observed an issue with migration from https://github.com/helm/charts/tree/master/stable/fluent-bit to the new chart

old chart defines `spec.selector` for DaemonSet in following way:
[code]
but the new chart defines it in that way:
[code]
[code]

`spec.selector` is immutable since k8s v1.16, see [this](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/) and helm3 behaves dif

[2020-12-17 16:27] MrD2 commented on #16
Please review https://github.com/fluent/helm-charts/pull/55

[2020-12-17 16:29] MrD2 commented on #15
Please review https://github.com/fluent/helm-charts/pull/55 where this functionality is integrated

[2020-12-17 16:32] MrD2 commented on #1
please check and provide feedback on https://github.com/fluent/helm-charts/pull/55

[2020-12-28 11:12] pmalek-sumo opened #56 "Fluent bit service link in comment is dead"
The following link seems to be dead as of today - 28.11.2020:

https://github.com/fluent/helm-charts/blob/e6805d4509868b76717677c7f7eecc4834d49d5a/charts/fluent-bit/values.yaml#L125

[2021-01-15 15:59] smihails commented on #37
Create kind: ConfigMap with certificate and than add extraVolumes,extraVolumeMounts to value.yaml :
[code]
and path to the variable "tls.ca_file"
`tls.ca_file         /etc/certs/ca.crt`

[2021-01-16 17:17] agup006 opened #58 "Add stream processing file and portion"
The current helm chart allows for custom parsers, and should also by default include an empty section for stream processor jobs

* Documentation to link to Stream Processing: https://docs.fluentbit.io/manual/stream-processing/introduction
* New template file {{stream_processor.conf}}
* New stream_processor.conf section linked in configmap

[2021-01-18 15:21] naseemkullah commented on #56
Thanks @pmalek-sumo , would you be willing to make a PR correcting the link to service documentation?

[2021-01-19 00:19] beckyjmcdabq opened #59 "index name [fluent-bit] does not match pattern '^.*-\\d+$'""
I have fluent-bit deployed in a kubernetes cluster and the output set to push data to elastic search and then using kibana for visualization.

I have created an Index Lifecycle Management policy and tied it to my "fluent-bit" index.  However, I am getting the following error:

index name [fluent-bit] does not match pattern '^.*-\\d+$'"

I have read many articles on this error for other elastic sea

[2021-01-19 09:56] pmalek-sumo commented on #56
Sure thing @naseemkullah. Here you go: https://github.com/fluent/helm-charts/pull/60

[2021-01-19 10:01] pmalek-sumo commented on #56
Not sure why the CI fails though :/ https://github.com/fluent/helm-charts/pull/60/checks?check_run_id=1726899381#step:7:21

[2021-01-19 14:16] Towmeykaw commented on #59
Can you provide your current configuration?

[2021-01-19 15:38] stevehipwell opened #61 "[fluent-bit] Provide Grafana dashboard for sidecar"
It would be really useful if the _fluent-bit_ Helm chart supported installing a Grafana dashboard as a configmap to be picked up by the dashboard sidecar. There is already a dashboard [available](https://github.com/fluent/fluent-bit-docs/blob/master/monitoring/dashboard.json) for the documentation which could be used. I'd be happy to create a PR to do this if the maintainers are interested?

[2021-01-19 17:18] naseemkullah commented on #61
Sounds like a nice option to have!

[2021-01-20 17:03] dio-trinny commented on #37
whilst the solution above works, would it not be a neater solution to have this be part of the helm chart ?!

[2021-01-21 22:28] matty1979 opened #63 "Issue with fluent-bit/templates/tests"
[code]

Running
`helm install fluent-bit fluent/fluent-bit -f values.yaml -n logging`

I can comment out the

[code]

and it installs the helm chart correctly

[2021-01-22 02:54] naseemkullah commented on #63
Hi @matty1979, the values structure is different in this chart, as follows:

[code]

[2021-01-22 18:47] matty1979 commented on #63
That fixed it. Thank you

[2021-01-22 18:47] #63 closed

[2021-01-27 20:34] nvtkaszpir commented on #12
long time no see.
unfortulnately due to IP protection from the client I was unable to publish it.
As a workaround I would have rewrite it significantly to make it in compliance with the prior client.

Since I changed companies this dropped from my todo list from important to 'nice to have', cause we don't use fluentd.
Even though, it would be in another repo anyway (official hem chart).

Thus, clo

[2021-01-27 20:35] #12 closed

[2021-01-28 09:18] stevehipwell commented on #61
This has been released.

[2021-01-28 09:18] #61 closed

[2021-01-28 09:28] stevehipwell opened #67 "[fluentd] Add separate aggregator chart"
The two use cases for _Fluentd_ are very different in implementation and as such rather than trying to shoehorn both into a single chart it would make sense to have a separate `fluentd-aggregator` chart. I already have a [fluentd-aggregator](https://github.com/stevehipwell/helm-charts/tree/master/charts/fluentd-aggregator) chart in my repo and would be happy to create a PR to add it to this repo a

[2021-01-28 13:21] naseemkullah commented on #67
Thanks @stevehipwell , would it be totally unfeasible to shoehorn it into the one @MrD2 worked on with a switch like `mode: aengt|aggregator` ? I understand a whole lot of logic would need to be added but is it still possible?

[2021-01-28 15:44] stevehipwell commented on #67
@naseemkullah I'd personally avoid that approach (one of the reasons why I wrote a chart rather than using an existing well known Fluentd chart) due to additional complexity and cognitive load required. I prefer the two chart approach for something like this.

[2021-01-28 16:18] naseemkullah commented on #67
I understand, but N.B. this has been done successfully for fluent bit : https://github.com/fluent/helm-charts/blob/3f017090d0be7698bbaea4ac15de5196626168af/charts/fluent-bit/values.yaml#L3-L4

[2021-01-28 16:21] stevehipwell commented on #67
I know it's an option but does anyone use it and is it a "good" approach? If you want an example of what it could look like for _Fluentd_ take a look at the bitnami chart.

[2021-01-28 18:28] MrD2 commented on #16
@krezovic can you check new chart https://github.com/fluent/helm-charts/releases/tag/fluentd-0.2.0 with your configurations and provide feedback?

It should be easily configurable by you to your own requirements. Check README.md

[2021-01-28 18:30] MrD2 commented on #15
we can close this

[2021-01-28 18:30] MrD2 commented on #1
we can close this

[2021-01-28 18:36] MrD2 commented on #67
Cant we use their own chart here, or ask them to merge it here? It would make more sense

[2021-01-28 18:57] stevehipwell commented on #67
@MrD2 I'm offering to submit a PR for this.

[2021-01-28 19:06] #1 closed

[2021-02-10 22:43] harold-kfuse opened #73 "Deploying Fluentd using helm chart gives ImagePullError"
I used the default config and the following helm command:

helm install fluentd fluent/fluentd

Events:
  Type     Reason   Age                     From     Message
  ----     ------   ----                    ----     -------
  Normal   BackOff  13m (x617 over 153m)    kubelet  Back-off pulling image "fluent/fluentd-kubernetes-daemonset:v1.11.5-debian-elasticsearch"

[2021-02-11 10:22] MPV opened #74 "[fluent-bit] Support --dry-run"
Now that the `--dry-run` option is coming in fluent-bit 1.7 (https://github.com/fluent/fluent-bit/pull/2179), it might be nice to support this in the helm chart.

For example, if a new config doesn't pass the dry run, the healthcheck shouldn't pass (and/or the pod shouldn't start/rolled back).

Maybe could be implemented by an init container?

[2021-02-11 11:59] naseemkullah commented on #74
Is this basically config validation? Init container sounds good.

[2021-02-11 15:28] MrD2 commented on #73
Hello,

We are aware of this. A fix is underway. https://github.com/fluent/helm-charts/pull/68

[2021-02-11 17:55] MPV commented on #74
Yeah, and I think it would be useful.

For example, today, we had a case of incorrect config being added (one custom parser clashing with a built-in one, which caused any following parsers not to evaluate properly), and:

- The container logged an `ERROR` at startup, but:
- The container/pod didn't stop or have any failing health checks.
- No Prometheus metrics for fluent-bit indicated anything wa

[2021-02-11 22:05] harold-kfuse commented on #73
Thanks. Yeah. I tried with your fix and deployment succeeded.

[2021-02-12 16:02] naseemkullah commented on #74
Sounds good! init-container might be the right approach AFAIK config cannot be changed at runtime. Up for a PR?

[2021-02-12 17:24] dioguerra commented on #73
This is fixed

[2021-02-12 17:26] dioguerra opened #75 "[fluentd] Small fixes"
* Fix semversion on Charts.yaml
* Use < | quote > on grafana ConfigMap template

See: https://github.com/fluent/helm-charts/pull/68

TODO: labels that are added to the prom metrics with the fluentd $tag (the "Input entry rate per tag" chart). we probably can transform it to something more legible.

[2021-02-12 17:29] harold-kfuse commented on #73
Thanks. I'm closing this issue.

[2021-02-12 17:29] #73 closed

[2021-02-12 19:07] perezjasonr opened #76 "conditional path for varlibdockercontainers if using containerd/cri-o"
I couldnt help but notice that /var/lib/docker/containers is hardcoded, but if using containerd/cri-o i believe this path doesn't exist. On my nodes for example there is /var/lib/containerd and /var/lib/containers

I'm not sure how that path is used by fluentbit (or fluentd i suppose) but shouldn't this be updated or a config option that changes if runtime is containerd/cri-o?

[2021-02-12 23:00] dioguerra commented on #76
In fluentd the container path is configurable

[2021-02-12 23:08] perezjasonr commented on #76
if it is, thats not the case with fluentbit

[2021-02-13 13:05] naseemkullah commented on #56
fixed via #60

[2021-02-13 13:05] #56 closed

[2021-02-13 13:06] naseemkullah commented on #74
In fact a post start hook may be sufficient: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks

[2021-02-13 14:16] MPV commented on #74
Ah since it uses the configmap checksum annotation (which would create a new pod on config change), right?

[2021-02-13 14:19] MPV commented on #74
Sorry, sadly not at the moment. My work related to using this was completed and I have now moved to other things. Might return based on need, we'll see, but not as my plans stand at the moment.

[2021-02-15 19:17] perezjasonr commented on #76
Actually now I'm wondering what fluentbit was doing with /var/lib/docker/containers, was it using it for metadata? with kubernetes tail is referening /var/log/containers/

I'm not sure if we should be changing /var/lib/docker/containers mount to /var/lib/containers or (or something else) or if we should remove that mount entirely, but one thing I do notice is that theres no /var/lib/docker, and ye

[2021-02-16 09:30] zyriljamez opened #77 "helm test doesn't create the test pod for "Fluent-bit" chart when Kind is "DaemonSet""
Logs :

_Desktop\fluent-bit>helm3 test fluentbit -n logging --logs
NAME: fluentbit
LAST DEPLOYED: Tue Feb 16 14:48:44 2021
NAMESPACE: logging
STATUS: deployed
REVISION: 1
TEST SUITE:     fluentbit-fluent-bit-test-connection
Last Started:   Tue Feb 16 14:52:51 2021
Last Completed: Tue Feb 16 14:52:52 2021
Phase:          Failed
NOTES:
Get Fluent Bit build information by running these commands:

exp

[2021-02-22 11:44] dmazhar-cogniance opened #79 "Support service topologyKeys for fluent-bit chart"
Hi team. Thanks for the chart!
Do you consider supporting the `topologyKeys` for the fluent-bit service: https://github.com/fluent/helm-charts/blob/master/charts/fluent-bit/templates/service.yaml
We're using fluent-bit running as a daemonset with extra port and tcp input to ingest structured logs from apps. topologyKey will allow to prefer local instance of fluent-bit to reduce inter-node traffic:

[2021-02-26 22:43] hwchiu opened #81 "[fluent-bit] Support the init containers via the values.yaml"
Hi Team,

# Issue
I would like to know is it possible to support the init-container via the values.yaml?

# Scenario.
In order to support the fluent-bit with OpenDistro-For-ElasticSearch, I have to mount the certificate into fluent-bit.
However, the certificate is generated by the OpenDistro ElasticSearch container and store in the container.

I used the following like scrips to create a k8s secre

[2021-02-28 16:52] naseemkullah commented on #81
SGTM, Feel free to open a PR adding  `initContainers: []` to values.yaml and adjusting the templates accordingly.

[2021-03-03 05:08] AshutoshNirkhe opened #82 "Support custom namespace for fluent-bit Grafana dashboard"
Currently configmap for Grafana dashboard in the chart doesn't support custom namespace and it will get created in default namespace only - https://github.com/fluent/helm-charts/blob/fluent-bit-0.11.0/charts/fluent-bit/templates/configmap-dashboards.yaml#L6
Could we add support for that ?

[2021-03-03 05:14] naseemkullah commented on #82
Sure, feel free to open a PR to add a `dashboards.namespace` value.

cc @stevehipwell if you have any thoughts please share since you added the feature!

[2021-03-03 05:18] naseemkullah commented on #79
Hi @dmazhar-cogniance , sounds like it would be a nice feature to add, feel free to open a PR to add this. OOC why you send straight to  fluent-bit tcp input from k8s apps instead of using the tail input that reads from the node's log file?

[2021-03-03 07:56] dmazhar-cogniance commented on #79
We have apps running in a cluster with possible different logs formats. So to make it simple we have logs from the log files ingested "as is" and json structured logs with defined set of fields ingested via the tcp socket. But in general I think this could be done with tail input and labels filters too.

[2021-03-03 09:06] stevehipwell commented on #82
I think I've already put forward the opinion that I don't think this is a good architectural pattern. Also from a complexity point of view making Grafana search all namespaces is simpler than asking all charts exporting dashboards to add the ability to use a central namespace.

[2021-03-03 18:37] djsly commented on #82
@stevehipwell I'm not sure I understand your explanation.

Kubernetes-mixin used in prometheus stack are all scoped to the namespace where you deploy your stack, most of the charts we use that provides dashboards have their ConfigMap in the same namespace where the chart is installed.

Often users will be allowed to deployed charts in their own namespace and restricted with access to the default n

[2021-03-03 18:54] stevehipwell commented on #82
The current behaviour will create the dashboard configmap in the namespace that this chart is being created in. By definition the user will need to be able to write to this namespace and all chart artifacts will be written here.

Creating the dashboard configmap in an arbitrary namespace, which by implication  as the sidecar either scans it's namespace or all namespaces would need to the the Prome

[2021-03-03 20:08] djsly commented on #82
that's the expected behaviour correct, I will verify why @AshutoshNirkhe  raised the issue as this is what we should expect.

[2021-03-03 20:10] djsly commented on #82
It might be just that the resource doesn't explicitly define a namespace field, but Helm3 will force them to be in the selected namespace so I think that. might be the confusion, unless he tested and it ended up in `default`

@AshutoshNirkhe  can you confirm ?

[2021-03-04 05:38] AshutoshNirkhe commented on #82
Exactly! My bad @djsly and @stevehipwell , I didn't try it out earlier, but got confused because configmap didn't have namespace field. Good to know helm3 actually takes care of that. I tried with upstream configmap now and it worked  perfectly. Thanks, closing this issue now.

[2021-03-04 05:43] #82 closed

[2021-03-09 19:42] dioguerra commented on #75
TODO: Add the hash of the included dashboards to force fluentd reload upon adding or removing dashboards/configurations
-> This if we use add by name on helm chart.

Other option (which i prefer) is to use a sidecar to trigger reload when a new dashboard is added into k8s. Similarly with what happens with grafana where we need to specify label: grafana_dashboard=1

[2021-03-13 06:42] hwchiu commented on #81
Okay, will open a PR to add this function, thanks

[2021-03-13 07:31] apurvabhandari opened #84 "Helm chart for fluentd is not working"
Helm chart available on hub is not working. Either need to update image tagging on docker hub or update _pod.tpl and chart.yaml Ref chart: https://artifacthub.io/packages/helm/fluent/fluentd

[2021-03-17 01:19] alecrajeev opened #86 "Fix ct Unit Test"
There is a unit test defined here:  https://github.com/fluent/helm-charts/blob/main/.github/workflows/lint-test.yaml
that checks for the list of charts that have been changed, and then performs a validation with lint.

This has to be updated to use the ct.yaml config file. (Previously the `master` branch was used, but it was switched to the `main` branch, so have to make sure the ct.yaml file that

[2021-03-17 12:19] #86 closed

[2021-03-18 07:33] fvogl commented on #84
Same here... readiness and liveness probes fail

[2021-03-18 09:47] dioguerra commented on #84
Hello,

Can you provide configuration options? Or explain better why it is not working? Is it just readiness / liveness probes?

[2021-03-18 10:00] fvogl commented on #84
Even with the default values (no overrides), the pod keeps restarting due to probes failing
  Warning  Unhealthy  6s (x4 over 66s)   kubelet            Liveness probe failed: Get "http://10.244.0.5:24231/metrics": dial tcp 10.244.0.5:24231: connect: connection refused
  Warning  Unhealthy  5s (x7 over 65s)   kubelet            Readiness probe failed: Get "http://10.244.0.5:24231/metrics": dial tcp

[2021-03-18 10:05] dioguerra commented on #84
The liveness probe is reported by the prometheus server running.
Did you remove this:
`
configMapConfigs:
  - fluentd-prometheus-conf
`

[2021-03-18 10:31] fvogl commented on #84
No, as I said I did not remove (or override) anything. Did you recently try to install that helm chart successfully?

[2021-03-18 11:27] dioguerra commented on #84
Yes, i did.

I will check this, but im really busy, so it might take a while

[2021-03-18 13:45] fvogl commented on #84
I think I found the reason but I tried so many things that I can't be sure. Seems the fluent-plugin-prometheus plugin is required to make this working. If yes, it should be added in the values file.

[2021-03-18 15:51] dioguerra commented on #84
Yes, the plugin is required.

Can you valdiate again and create a MR?

[2021-03-19 14:38] fvogl commented on #84
Actually the problem was not the prometheus plugin, but the too short initial delay of the liveness probe. Creating a MR for this now.

[2021-03-19 14:53] dioguerra commented on #84
Can you make the probe times configurable maybe?

[2021-03-22 12:01] abhinavkhanna-sf opened #93 "[fluent-bit] Add annotations to psp"
Add annotations to fluent-bit psp

Is your feature request related to a problem? Please describe.
unable to seccomp annotations

Describe the solution you'd like
ability to add annotations from values.yaml file

Describe alternatives you've considered
duplicate the code and add it there

Additional context
none

[2021-03-24 04:40] thodquach opened #94 "How to use fluent-bit to push log to big query"
Hello,
As I read from official document of fluent-bit [doc](https://docs.fluentbit.io/manual/pipeline/outputs/bigquery): we can use fluent-bit to push log to big query
Below is the step by step I have done to push log to big query:
1. Create a table with auto-detection on BigQuery
2. Use this chart to create a fluent-bit to tail and push log

This is the debug log I got from our case:
[code]
I see

[2021-03-25 03:32] #93 closed

[2021-03-26 18:46] sharkymcdongles commented on #76
It isn't hardcoded. It comes from this in the values file:

[code]

The default setting is docker containers, but you can adjust it and override it. For example this would remove the mountpath completely. For containerd the logs are mounted at /var/log/containers, so you don't need an explicit mount like docker. At least this is the case on GKE:

[code]

[2021-03-26 18:48] naseemkullah commented on #76
Thanks @sharkymcdongles, worth noting this configurability is thanks to @alecrajeev's recent contribution: https://github.com/fluent/helm-charts/pull/83/files

[2021-03-26 18:49] naseemkullah commented on #76
@perezjasonr does the current state of the chart solve your issue?

[2021-03-26 21:16] perezjasonr commented on #76
in my defense the contribution linked by @naseemkullah is from 8 days ago.
if its truly configurable now in the chart then this can be closed.

[2021-03-26 21:24] naseemkullah commented on #76
Yep I agree as mentioned here: https://github.com/fluent/helm-charts/issues/76#issuecomment-808441831

It was part of https://github.com/fluent/helm-charts/pull/83/files which releases `version: 0.14.0`

[2021-03-26 21:24] #76 closed

[2021-03-29 19:59] jasonatball opened #100 "fluent-bit pushing to elastic"
I'm deploying the fluent-bit helm chart into a cluster with the bitnami elasticsearch chart. This is my values.yaml where I override the elastic search host but otherwise everything else is default:
[code]
Elastic seems to be up:
[code]
And fluent-bit is deployed:
[code]
However it seems that none of the fluent-bit pods can access the cosmos-elasticsearch-master service. I get a constant stream of

[2021-03-29 21:11] jasonatball commented on #100
I tried adding the env as follows and my fluent-bit pods still can't talk to ES:
[code]

[2021-04-01 03:35] naseemkullah commented on #100
May be due to a bug that https://github.com/fluent/helm-charts/pull/101 would fix

[2021-04-01 12:20] naseemkullah commented on #100
Hi @jasonatball we just pushed a fix for a bug introuced in  v0.14.0 of the chart 2 weeks ago. Could you try with the latest release of the chart (v0.15.3)?
Once you've tried that and it still does not work please paste the output of `kubectl describe configmap cosmos-fluent-bit`

[2021-04-01 12:21] naseemkullah commented on #100
[code]

      The bug can be displayed in what you pasted, notice the last line here, there is no `/` at the beginning. That's now fixed.

[2021-04-01 13:24] jasonatball commented on #100
I guess I should have said I was on version 0.15.1 of the chart. I'll try again with 0.15.3.

[2021-04-01 13:27] jasonatball commented on #100
@naseemkullah It looks like only 0.15.2 has been pushed:
[code]

[2021-04-01 13:53] jasonatball commented on #100
I ran against 0.15.2 and updated my values.yaml to include the volumeMounts fix:
[code]
But I still get the timeouts:
[code]
Here is my configmap:
[code]

[2021-04-01 13:57] jasonatball commented on #100
It looks like the Mounts was fixed:
[code]

[2021-04-01 14:01] jasonatball commented on #100
For completeness here is my elastic service:
[code]

[2021-04-01 14:04] naseemkullah commented on #100
Thanks for the details, I was hoping the volume mounting would help. We seem to be having issues with the release workflow that I will look into asap.

[2021-04-06 16:14] Horkyze opened #103 "Option to override namespace"

[2021-04-07 14:18] jasonatball commented on #100
@naseemkullah I see you got your release pushed a few days ago and I upgraded to 0.15.3. When I bring up my kibana frontend I noticed that I had a "fluent-bit" index and log messages. However I still see constant messages about not being able to connect from the fluent-bit kubectl logs. It's only a single fluent-bit node that's getting messages into elastic because I only see one kubernetes.pod_na

[2021-04-07 15:15] ruiengana opened #104 "[fluentd] Fluentd not reading sources config from chart"
I am deploying fluentd chart with custom values. We mainly customise fileConfigs.01_sources.conf and fileConfigs.04_outputs.conf from standard chart values.

In fluentd init I see that 01_sources.conf has not been applied to config, but 04_output.conf has.

Has anyone seen this behaviour before?

[2021-04-07 21:51] #104 closed

[2021-04-08 04:25] naseemkullah commented on #100
That's strange, it should be communicating with the "master" node not directly to the "data" node right? can other workloads communicate across nodes? Anything of interest in the other fluent bit or es pods?

[2021-04-08 13:22] jasonatball commented on #100
I think for our simple use-case we want to use the master service but it really shouldn't matter. We definitely have other services able to communicate across nodes using k8 services. I did run into an issue recently where our service selector didn't match the deployment spec selector and thus didn't work. It's a tricky thing to debug because everything is there but it doesn't work because it's no

[2021-04-08 13:32] naseemkullah commented on #100
I see, I've used this chart with https://github.com/elastic/helm-charts/tree/master/elasticsearch successfully in the past, but I have not used it for over a year now in favour of a managed logging service.

[2021-04-09 07:23] stevehipwell commented on #67
I'm still keen to explore this, specifically a separate _Fluentd_ aggregator chart and image optimised for aggregating logs from _Fluent Bit_ and distributing them.

[2021-04-13 15:23] shubham391 opened #106 "Fluent Bit crashing on startup with a config related error"
Hello,

I am installing fluent-bit in a kubernetes cluster using the helm chart. The config map generated is this:

[code]

All the pods fail with this error:
[code]

I'm not able to figure out what's wrong in the config here. Can you please help?

[2021-04-13 16:14] shubham391 commented on #106
After some trial and error, figured out that removing ``@INCLUDE custom_parsers.conf`` from Service section fixes this.

[2021-04-13 16:14] #106 closed

[2021-04-17 06:50] thefang12 opened #108 "Fluentd unable to install when deploying prometheus rule"
After a lot of debugging and only getting this error output

[code]
I manged to figure out the issue is coming from deploying  the charts/fluentd/templates/prometheusrules.yaml the `with` statement causes the line 16 `{{ template "fluentd.fullname" . }}` to throw this exception.

[2021-04-19 12:42] dioguerra commented on #108
Can you provide your values.yaml?

[2021-04-19 12:51] naseemkullah commented on #67
cc @edsiper

[2021-04-19 16:12] thefang12 commented on #108
This are my values:
[values.yaml.txt](https://github.com/fluent/helm-charts/files/6337494/values.yaml.txt)
And here's the command to install:
`helm install fluentd fluent/fluentd -n test -f values.yaml.txt  --create-namespace`
And the output:

[2021-04-19 22:22] thefang12 commented on #108
Was about to do PR myself but saw there's already one out addressing this issue #97

[2021-04-20 16:04] hwchiu commented on #81
Merged. close

[2021-04-20 16:04] #81 closed

[2021-04-20 16:17] hwchiu commented on #100
@jasonatball
I have used the opendistro-for-elasticsearch with fluent-bit for a while and have seen the same issue in one of my environments.
I can't tell what happens but I noticed the issue only happens if all of my kubernetes nodes are located in the same host. (I used the vagrant to host three VMs and I found you are using the KIND, three docker container in the same node).
The same configurat

[2021-04-20 16:26] jasonatball commented on #100
I decided to use the [bitnami/fluentd](https://github.com/bitnami/charts/tree/master/bitnami/fluentd) helm chart instead which is working well with Kind.

[2021-04-20 16:26] #100 closed

[2021-04-21 15:32] dioguerra commented on #84
bipBopBot: @naseemkullah close :)

[2021-04-21 15:32] dioguerra commented on #108
bipBopBot: @naseemkullah close :)

[2021-04-21 15:33] naseemkullah commented on #84
🤖

[2021-04-21 15:33] #84 closed

[2021-04-21 15:33] dioguerra commented on #16
bipBopBot: @naseemkullah close :)

[2021-04-21 15:35] naseemkullah commented on #108
🤖

[2021-04-21 15:35] #108 closed

[2021-04-21 15:35] naseemkullah commented on #16
🤖

[2021-04-21 15:35] #16 closed

[2021-04-22 15:27] ilnurkhal opened #115 "kmsg input conflicts with psp"
I've tried to deploy fluent bit via helm-chart(with enabled psp and kmsg input) and bumped into the problem.  Pods aren't able to start.
Logs:
[code]
After that, I'd added

[code]

and

[code]

After that, I bumped into another problem

[code]
I'd found [a similar issue]( https://github.com/fluent/fluent-bit/issues/2709). But if try to add things below, you got troubles with [PSP](https://github.c

[2021-05-07 10:19] alexey-ban opened #117 "misprint additionalLabels in examole value"
https://github.com/fluent/helm-charts/blob/d9bbdf0182d571ad42db8859221befadf5e124f8/charts/fluent-bit/values.yaml#L80  - misprint **additionalLabels** in charts

[2021-05-19 15:48] z0rc opened #119 "[fluent-bit] Option to add `node/proxy` resource to ClusterRole"
Per https://docs.fluentbit.io/manual/pipeline/filters/kubernetes#optional-feature-using-kubelet-to-get-metadata

It would be nice if chart would allow setting this via optional variable. As this is kinda minor change in ClusterRole, it would be nice to maintain it in place, rather then a separate kubernetes manifest outside of rest of the chart.

[2021-05-20 14:55] z0rc opened #120 "[fluent-bit] Liveness/Readiness probe fails when running on AWS EKS 1.20 with Bottlerocket OS"
Cross reference to https://github.com/fluent/fluent-bit/issues/3521

Pods deployed by this chart fail liveness probe when running on AWS EKS 1.20 with Bottlerocket OS. As far I was able to understand, fluent-bit's http_server stops listening almost immediately after pod start, which leads to failed readiness/liveness probes. This happens only on nodes with Bottlerocket OS, regular nodes with Amazo

[2021-06-10 19:07] DaemonDude23 opened #126 "[fluentd] fullnameOverride not used for all objects"
`fullnameOverride` is not consistently used for naming objects such as the `configMap` `fluentd-config`. As a result, deploying more than 1 instance of the chart in a namespace results in overlap.

Example: https://github.com/fluent/helm-charts/blob/fluentd-0.2.6/charts/fluentd/templates/fluentd-configurations-cm.yaml#L4

[2021-06-11 06:40] Namrata3991 opened #127 "Not able to see multiline java stack trace as single line on Kibana, Using fluentbit and it sending logs to elasticsearch"
I am using helm chart to deploy fluent-bit on Kubernetes, I have added the Parser for multiline java messages in custom fluent-bit configuration  and use the parser in the annotations of the pod

fluent-bit.config
`service: |
    [SERVICE]
        Flush 1
        Daemon Off
        Log_Level info
        Parsers_File fluent-bit/etc/custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0

[2021-06-15 08:18] Prometej opened #128 "Cannot configure loadBalancerIP"
We are using fluent-bit in a deployment where we need to configure the IP for a  LoadBalanced service.

Currently the Helm chart doesn't support explicitly specifying loadBalancerIP which is a shame. Please add the necesarry templating to support this feature.

[2021-06-16 12:27] EyalZilberblum opened #129 "helm upgrade/install not recognising changes in filter section"
i have tried to add a new filter in the filter section but when installing/upgrading the chart it simply ignored the changes in values.yaml (passed as parameter to --values)

[2021-06-16 14:17] dioguerra commented on #129
Hello,

this is for fluentd currect?
I know that this problem exists, and it's my fault from removing the hash from the annotations.
Would you be keen on creating a fix for this?

[2021-06-17 05:58] EyalZilberblum commented on #129
Right this is for fluentd

[2021-06-17 06:07] EyalZilberblum commented on #103
helm command has an argument [--namespace] which can be used to install the chart in any namespace you desire.
pay attention that helm cannot create the namespace, so you need to make sure it exists prior to the installation.

[2021-06-24 10:46] MarjanJordanovski opened #131 "[fluentd] Can fluentd scrape from volume in different kubernetes cluster?"
Hello,

I would like do deploy fluentd in cluster A, and to be able to scrape from volume that is in cluster B.
Is it possible? If yes, can you give me some links to docs or examples about that?

Thanks!

[2021-06-28 07:28] MarjanJordanovski opened #132 "[fluentd] <auth> section for out_http plugin not working"
My fluentd config:
[code]

I am using basic auth for accessing https://my-domain.com , and it works when I try accessing with browser or with curl, but fluentd seems like can't flush when basic auth is enabled.
I get errors:
2021-06-28 07:20:06 +0000 [warn]: #0 failed to flush the buffer. retry_time=0 next_retry_seconds=2021-06-28 07:20:07 +0000 chunk="5c5ce510be5506939b125b0e292e09ba" error_class

[2021-06-29 19:02] michaelm-88 opened #133 "CreateLogGroup API responded with error='SerializationException'"
and I getting still the same error

[2021/06/29 17:36:00] [debug] [http_client] server logs.us-east-1.amazonaws.com:443 will close connection #54                                                                                                                                                                                                              │
│ [2021/06/29 17:36:00] [debug] [aws_client] lo

[2021-06-30 16:53] gabegorelick commented on #120
As a workaround, you should be able to disable the probes until https://github.com/fluent/fluent-bit/issues/3521 is resolved.

https://github.com/bottlerocket-os/bottlerocket/issues/1628 is tracking a workaround on the Bottlerocket side. Downgrading to Bottlerocket 1.19 is also supposed to fix the issue.

[2021-07-01 10:50] dioguerra commented on #132
Hello, Did you enabled the plugin?

[2021-07-01 10:52] dioguerra commented on #131
Hello,

If the volume is available from cluster B just change the source dir from where fluend gets the logs.
Keep in mind that this will disable the cluster B nodes log collection.

[2021-07-12 14:08] stevehipwell commented on #119
@z0rc it might be worth adding `Use_Kubelet` to the name of this issue to help people who want to use the flag find this issue.

[2021-07-13 10:00] z0rc commented on #120
Fixed with https://github.com/bottlerocket-os/bottlerocket/releases/tag/v1.1.3

But this is kinda workaround, by making kubelet's `cpuManagerPolicy: none` as default. With `cpuManagerPolicy: static`, the issue still persists.

[2021-07-13 11:05] stevehipwell opened #135 "[fluent-bit] Support v1.8"
It looks like the v1.8 release of fluent-bit might need more than a simple version change in the Helm chart. I suspect the following areas need looking at.

- Image version
- Liveness/readiness
- Metrics
- `Use_Kubelet` support by default (see https://github.com/fluent/helm-charts/issues/119)

I'm happy to open a PR for this if someone could review the areas above.

[2021-07-13 12:13] naseemkullah commented on #135
sgtm @stevehipwell, thanks!

[2021-07-13 12:32] z0rc commented on #135
It would be nice to update default input configuration to support multiline parsing out of the box https://fluentbit.io/announcements/v1.8.1/#new-multiline-core-feature.

Also probes should be migrated to new endpoint. https://fluentbit.io/announcements/v1.8.1/#new-http-health-end-point

[2021-07-13 12:40] stevehipwell commented on #135
@z0rc I was unsure if the new health endpoint was valid for K8s readiness or if it was too much? I doubt it's suitable for liveness, but am happy to be corrected.

[2021-07-13 12:55] z0rc commented on #135
@stevehipwell according to https://docs.fluentbit.io/manual/administration/monitoring#health-check-for-fluent-bit it suitable for `livenessProbe` just fine. `readinessProbe` can remain as is actually.

[2021-07-13 13:00] stevehipwell commented on #135
@z0rc that's not how I'm reading it. A liveness probe is to see if the pod is able to serve requests and has nothing to do with application health, so this endpoint isn't suitable for this use case as a pod with errors is still live. For readiness I think this endpoint would work but we'd need to carefully think through the implications.

[2021-07-13 13:05] z0rc commented on #135
@stevehipwell you're right, I mismatched probes roles. Agreed on liveness, still readiness probe on new endpoint with ability to fine tune would be really nice. For now I think it's okay to stick to default values.

[2021-07-14 23:30] b0nete opened #136 "[fluent-bit] connection timed out to S3."
Hi, i have some questions to do.

I'm using the latest chart version (fluent-bit-0.15.15) and i tried use default image and aws-for-fluent-bit too, but the error persist.

The main question is for know why i get this error from all fluentbit pods. Seems be some problem against S3 bucket, but this happens every 2/3min for each pod, exists a particular config/policy to apply to s3 buckets for receiv

[2021-07-15 09:01] stevehipwell commented on #135
It looks like the new metrics support is a replacement for the Prometheus node exporter and not an improvement on the current metrics support so there is no required action here on metrics.

[2021-07-15 11:47] z0rc commented on #119
@stevehipwell because https://github.com/fluent/fluent-bit/issues/1948#issuecomment-680291735 and not everyone run Kuberenets at scale where this option has measurable impact.

[2021-07-16 15:18] lifttocode opened #139 "[fluent-bit] Kubernetes filter Use_Kubelet causes kubelet upstream connection error"
I'm getting the following error when the `Use_Kubelet` option is set to `On`
[code]
and I'm guessing it's related to the following from the [doc](https://docs.fluentbit.io/manual/pipeline/filters/kubernetes#configuration-setup)

but currently, the chart doesn't support adding the above configuration to daemonset spec.

[2021-07-22 11:59] #119 closed

[2021-07-22 11:59] #135 closed

[2021-07-22 13:29] pierluigilenoci opened #141 "Helm Chart Fluent-bit v0.16.0 is broken"
Fluent-bit v0.16.0 is broken for this
https://github.com/fluent/helm-charts/blob/7de33850749d02c7cf3a9e48f18062187708c992/charts/fluent-bit/templates/psp.yaml#L20
A missing `s` in `.ValueS.hostNetwork`

Ref: https://github.com/fluent/helm-charts/pull/137

@stevehipwell @naseemkullah @edsiper

[2021-07-22 13:30] stevehipwell commented on #141
Sorry @pierluigilenoci, I'll open a PR right now.

[2021-07-22 13:37] #141 closed

[2021-07-22 13:38] naseemkullah commented on #141
Thanks for flagging @pierluigilenoci and thanks again for the quick turnaround @stevehipwell

[2021-08-04 07:59] shubham391 opened #146 "[fluent-bit] Error while upgrading from 1.7.9 to 1.8.3"
I'm using Helm chart to install fluent-bit. I use the debug image `tag: 1.8.3-debug` because the non-debug image always fails in my cluster with http based probes. Now on upgrading to newer version using chart `0.16.2`, I get the following error:

[code]

In values file, I've specified liveness and readiness probes like this:
[code]

Notice the lines `httpGet: {}` since it says in the changelog (h

[2021-08-06 09:29] ChihSeanHsu opened #147 "[fluentd] helm test --logs failded"
Recently, I run helm test and it failed.
And I have searched some issues, I think it should be related with this helm issue (https://github.com/helm/helm/issues/9098)

Helm version: v3.6.3
helmfile version: v0.140.0
fluent chart version: v0.2.7

Here is the error message.
[code]

[2021-08-11 23:02] vallard commented on #103
helm can create the namespace as of Feb 2020 (https://github.com/helm/helm/pull/7648).  Run:  `helm -n <mynamespace> upgrade --install --create-namespace fluent fluent/fluentd -f`

[2021-08-18 11:14] alimravac opened #150 "Fluentd Icon URL not working"
In the chart.yaml for fluentd the icon url is not working.

[2021-09-21 09:00] joke opened #158 "Release missing from repo"
Hi,

the release 0.17.0 is missing from [repository](https://fluent.github.io/helm-charts).

[code]

[2021-09-21 11:29] naseemkullah commented on #158
Hey @joke thanks for flagging this. It should be fixed now!

[2021-09-21 11:57] joke commented on #158
It's fixed.

Thank you

[2021-09-21 11:57] #158 closed

[2021-09-28 20:08] holyhope opened #159 "Templatize init-container"
Hello

### Context

I need to adapt fluent-bit configuration depending of the node configuration.
I added an init-container with the kubectl binary in order to get info about the current node.
Thanks to that I am able to generate the right configuration file.
Fluentbit reads the file mounted in an empty-dir volume.

### Issue

The [kubectl image have many tags](https://hub.docker.com/r/bitnami/kub

[2021-09-29 11:32] jrdi opened #161 "fluent-bit chart impossible to change service port"
**Describe the bug**

I'm trying to spin up a new `fluent-bit` daemonset in a cluster where I already have another `fluent-bit` running and using `hostNetwork: true` (common setup in GKE since they already provide an instance running there but cannot be customized).

Since the already existing setup is using port 2020, I need to change the port of the new one but I didn't found a way for doing it

[2021-09-30 14:58] #159 closed

[2021-10-03 11:49] fernandopn commented on #128
I have exactly the same issue with the fluentd helm chart.

https://github.com/fluent/helm-charts/blob/main/charts/fluentd/templates/service.yaml makes no mention of LoadBalancerIP

[2021-10-03 18:16] fernandopn commented on #128
This is my current workaround: https://github.com/fernandopn/swarm/blob/main/cluster/core/logging/service.yaml

[2021-10-18 06:23] MarjanJordanovski opened #169 "Fluentd can't use custom values.yml"
Hello, I tried to deploy fluentd with custom values.yml file, but when it comes to _fileConfigs_ , it seems that it still grabs config from original chart and adds my config to it.

I used **helm install fluentd fluent/fluentd --values values.yml**
Then in configmaps I see that fluentd-config is created with 04_outputs.conf and 02_filters.conf from original values.yml, that I didn't include at all

[2021-10-18 15:34] dioguerra commented on #169
If you use some, but not all the configs you should silence the rest,

fileConfigs:
  01_sources.conf:
    [something]
  02_filters.conf: {}

[2021-10-18 20:42] farnsworth opened #170 "[fluentd] Unable to install two charts in same namespace"
I'm trying to install two times the fluentd chart in the same namespace, one with kind: "Deployment" and one with kind: "DaemonSet" (the first to manage a forward type source for external applications, the second to manage kubernetes logs).
This is not possible because all config maps have a fixed name and they they go into conflict.
Even if I can get around this by using two different namespaces,

[2021-10-19 09:33] dioguerra commented on #170
If you can, please create the necessary modifications :)

[2021-10-20 12:34] joelmeier commented on #169
Why are those configs included in the first place? People don't necessarily use elasticsearch for example. I think you should be able to opt-out from creating those configs in the first place, meaning they should not be hardcoded into the values.yaml or a [template](https://github.com/fluent/helm-charts/blob/main/charts/fluentd/templates/fluentd-configurations-cm.yaml#L22).

Secondly I don't under

[2021-10-23 14:13] aantn opened #173 "What is the recommending way of adding custom fluentd plugins?"
I'd like to use a fluentd plugin not included in the base image. Specifically https://github.com/sonots/fluent-plugin-grepcounter

What is the recommended way to add a plugin like this? I can build my own docker image if necessary.

[2021-11-01 22:54] jessectl opened #176 "Fluentd Liveness/Readiness Probes failing helm chart version 0.2.12"
[code]

EKS Version:
[code]

[2021-11-05 12:14] #31 closed

[2021-11-11 21:54] mebays commented on #173
Not sure if this is still relevant, but this would also depend on the environment.  If the cluster is running in a locked down scenario and doesn't have access to a gem server the plugins won't be able to be downloaded.

Also if you create your own image you can reassure that you download the exact version that is required and not accidentally pulling an updated version of the plugin which may or

[2021-11-13 00:06] Psycopg6 opened #180 "Fluentd wont deploy pods on any master node"
Fluentd does not tail any etcd, api-server, scheduler and controller-manager pod logs because a fluentd pod is never deployed on any master nodes.

Is this by design because of master node taints? Can it be overridden? prometheus node-exporter, kubernetes dashboard and metrics-scraper seem to be able to deploy on masters regardless of taint.

Thank you!

[2021-11-15 08:30] dioguerra commented on #180
This is not enabled by default. But you can set it up:
https://github.com/fluent/helm-charts/blob/main/charts/fluentd/values.yaml#L114

If you wish to commit a MR, we would accept

[2021-11-15 08:30] #180 closed

[2021-11-18 16:12] richardFontaine commented on #120
How do I disable the probes? "enabled: false" isn't an accepted value in the chart

[2021-11-24 17:21] philnielsen opened #183 "[Feature Request] Add Network Policy Support"
It would be nice if there was support for [Network Policies](https://kubernetes.io/docs/concepts/services-networking/network-policies/) (disabled by default) within the charts, so we could utilize the security features if desired.

[2021-11-25 11:14] lapwat opened #184 "Replace_Dots option"
Shouldn't we have Replace_Dots option set to On here ?

https://github.com/fluent/helm-charts/blob/986a808988591b42af31c0e4230d791843c9d081/charts/fluent-bit/values.yaml#L237

[2021-11-25 12:32] #184 closed

[2021-11-28 20:55] floknip opened #186 "Support for Secrets in Values such as env"
Hey there,

is there support for injection of secrets into the `env` array. (https://docs.fluentbit.io/manual/v/0.13/output/http)
https://github.com/fluent/helm-charts/blob/main/charts/fluent-bit/values.yaml#L160

For example keys for values such as `HTTP_Passwd` would require that support in order to use them in a save manner, right?

Usually, I would not want to see my secret value of HTTP_Passw

[2021-12-06 09:12] sherifkayad opened #191 "FluentD | upgrade to fluentd v1.12.4"
Upgrading to the latest 1.12.x version of FluentD .. I submitted the PR https://github.com/fluent/helm-charts/pull/190

[2021-12-08 14:23] staniondaniel commented on #191
why not upgrade it to the latest 1.14? The current version is almost a year old and my installation crashes almost everyday due to bugs fixed in newer versions

[2021-12-09 11:55] sherifkayad commented on #191
I could probably have a look at upgrading to 1.14 and try to submit a PR with a new major version of this Chart. For now closing this ticket as #190 is merged and the upgrade to the latest fix version of FluentD was an easy fix.

[2021-12-09 11:55] #191 closed

[2021-12-15 14:54] SimonHarrisonSH opened #194 "luaScripts looked for in different folder to where they are mounted"
Using chart 0.19.10.
Create a custom lua script in values.yaml:
[code]
Reference in a filter:
[code]

 The script gets mounted as `/fluent-bit/scripts/script_systemd.lua`
 But the pod crashes, trying to load it as `/fluent-bit/etc/script_systemd.lua`

_pod.tpl needs to be updated to mount `luascripts` to `/fluent-bit/etc/`, I believe

Manually editing the daemonset, once deployed, allows the pod t

[2021-12-16 08:16] #194 closed

[2021-12-16 08:17] SimonHarrisonSH commented on #194
Missed the note in the README about using the full path. Sorry :)

[2021-12-17 09:33] stevehipwell opened #195 "Separate aggregator charts for Fluent Bit & Fluentd"
Currently the charts in this repo attempt to cover all use cases by being able to be used in either collector (`Daemonset`) or aggregator (`Deployment`) modes. This adds a significant amount of complexity and cognitive load to the charts while having almost zero code reuse, the cost seems to be significantly higher than the benefit.

I'd like to see new `fluentd-aggregator` and `fluent-bit-aggrega

[2021-12-17 09:33] stevehipwell commented on #195
What do you think @edsiper @naseemkullah?

[2021-12-17 14:40] edsiper commented on #195
LGTM, thanks for putting effort into this.

@patrick-stephens, what do you think ?

[2021-12-17 15:59] patrick-stephens commented on #195
Definitely agree, KISS is much better than rigid adherence to DRY.

We should also start producing releases even if only as local tarballs that can be used.

[2021-12-17 16:05] stevehipwell commented on #195
I'll open some PRs to add the new charts and remove the aggregation capability from the existing charts.

@patrick-stephens releases currently attach the chart tarball as that's what the repo references, were you thinking of something different?

@edsiper would the Fluent organisation be interested in maintaining a Fluentd Aggregator image, I've created one for my chart but an official one would m

[2021-12-17 16:10] patrick-stephens commented on #195
Send me the details for the image and I'll have a look but I'm sure we can do something to provide an official one. Just need to check the best way to integrate it.

[2021-12-17 16:15] stevehipwell commented on #195
@patrick-stephens sorry I forgot to add the repo to the original comment and edited it to add the repo in. The repo is [stevehipwell/fluentd-aggregator](https://github.com/stevehipwell/fluentd-aggregator). It's basically just an additional layer of common aggregation plugins added to the alpine image. I have tried creating an issue for this before, but probably in the wrong repo, will this do or d

[2021-12-17 16:38] patrick-stephens commented on #195
Ah right, it looks like just a slightly custom configuration for fluentd so probably worth a pull request on the official fluentd repo as a separate image that gets build and pushed. I'm not entirely sure what happens with the fluentd builds at the moment though.

[2021-12-17 16:42] stevehipwell commented on #195
@patrick-stephens I assumed that this would need a new repo similar to [fluentd-kubernetes-daemonset](https://github.com/fluent/fluentd-kubernetes-daemonset)?

[2021-12-27 12:58] #161 closed

[2021-12-28 10:24] gorsr01 opened #200 "issue with Splunk routing - chart version 0.19.5 / app version 1.8.9"
hi team,

Splunk routing is getting failed in 1.8.9 version.please guide us

[2022-01-05 04:05] Revanthchowdary9 opened #201 "Unable to send the logs to elasticsearch-master"
I deployed all the Three components EFK, those are up and running, But I am unable to see the logs in the Kibana.

can anyone help me with this I am having a development task .

this is my fluentd values.yaml:-

[code]

[2022-01-06 05:03] coderigo commented on #200
try 1.8.10+ works for me.

[2022-01-06 11:50] Th0masL commented on #186
Hi !

I have the same need of passing secrets in the `env` array, so I did a PR to fix this issue (#202)

While we wait for my PR to be approved/merged and for a new version of the Chart to be released, you can deploy the fixed chart using the following method :
- clone my repo and switch to the branch that contains this fix
- go in the charts folder `helm-charts/charts` and build the .tgz package

[2022-01-07 18:28] Th0masL commented on #186
Hi !
The fix has been merged in the PR https://github.com/fluent/helm-charts/pull/203.
You just have to update the chart to the latest version (0.19.17) and define your dynamic variables inside the variable `envWithTpl` in `values.yaml`.

You can see the example provided on the PR or in the updated `values.yaml`.

[2022-01-10 13:43] stevehipwell commented on #195
@patrick-stephens have you had any more thoughts about this? I'm looking to open PRs for these charts later on this week.

[2022-01-10 15:03] patrick-stephens commented on #195
Apologies for the radio silence @stevehipwell, holidays and other things distracted me.

I'll have a word with @edsiper about the best option here, I'm not sure what Fluentd normally does. To me it looks like you have a fluentd + plugins image specifically targeting a Kubernetes use case. To keep it aligned with Fluentd updates, i.e. rebuilt alongside without having to submit multiple PRs, I would

[2022-01-10 15:08] stevehipwell commented on #195
@patrick-stephens no worries about the radio silence, I'm only picking this back up again now.

I'm not sure if there is a community standard, different project use various options. The Fluentd projects has used the multi-repo solution in the past but if it's possible to create an aggregator image as part of the primary Docker repo that'd be great.

A further consideration here is which image type

[2022-01-11 01:13] cosmo0920 commented on #195
Yeah, Fluentd community often uses multi-repo solution. Monolithic repo solution is not encouraged to use.

But, fluentd-kubernetes-daemonset repo's DockerHub build rules is already saturated and we cannot add more building rules. We should create another repo for aggregator images and use them.

BTW, DockerHub's image building is very slow and I recommend to use GitHub Actions for docker image bu

[2022-01-11 06:42] stevehipwell commented on #195
@cosmo0920 I wasn't suggesting that the existing _fluentd-kubernetes-daemonset_ repo be used as the image I'm proposing is completely different. I'm asking if someone could creat a _fluentd-aggregator_ repo in the _fluentd_ organisation for the new image; assuming a multi repo solution is the right way.

If you take a look at the repo I linked to that already does this you'll see it already uses G

[2022-01-11 08:06] patrick-stephens commented on #195
Based on @cosmo0920 approval I'll sort you out another repo shortly.

I'm doing a load of work on the Fluent Bit side for Github automation so agree with your second proposal but realistically will be a while before can even look so I'd say raise it separately and ideally submit a PR. @cosmo0920 may be working on it already as well but let's get a specific issue for it.

[2022-01-11 10:12] cosmo0920 commented on #195
Fluentd release model depends on standard RubyGems way. Fluentd maintainers want to their releases into RubyGems not GitHub releases. This is because Standard Rubyists refer gems into rubygems.org not GitHub releases and GitHub packages. We don't want to be forcibly to use GitHub ecosystem for every Fluentd users.

[2022-01-11 10:13] patrick-stephens commented on #195
Ah makes sense so appreciate the exposition @cosmo0920

[2022-01-11 11:18] stevehipwell commented on #195
Could there not be an action or something else to make a GH release after the tag has been created for the gem process?

[2022-01-11 13:52] cosmo0920 commented on #195
There is no room to use GH release for now. Most of Rubyist do not confirm GH releases.

The normal releasing process is `[bundle exec] rake release` command execution only if the gem uses Rakefile that is Ruby's makefile.

[2022-01-11 16:09] stevehipwell commented on #195
Does the release process not result in a tag being created in GH? A GH action added to the repo that watches for tags being pushed with a fixed pattern (`v*`) and then automatically makes a GH release from the tag and attaches the release notes would be an extension and not a change to the "Rubyist" pattern.

[2022-01-13 07:27] stevehipwell commented on #195
@cosmo0920 a GH action watching the repo for tag pushes could make tags with a specific format a GH release. When the release is created the details can be populated from the CHANGELOG. I'd happily open a PR on the repo to show the code and continue the discussion further?

[2022-01-13 08:09] cosmo0920 commented on #195
Why do you need to add another GH Actions for the fluentd repo?
It is enough for  current Rakefile releasing process and we don't want to deviate from normal publishing RubyGems rules.

[2022-01-13 08:27] stevehipwell commented on #195
@cosmo0920 because you said that the Ruby process was idiomatic I wasn't suggesting changing any of that. However Fluentd isn't only relevant to Ruby users and the GitHub idiomatic way to show a release is to add metadata to a tag in the form of a GitHub release. This is an extension (open/closed) of the existing workflow and if as a Ruby user you never look at GH releases you wouldn't even know i

[2022-01-13 09:23] cosmo0920 commented on #195
Hmm, I understand. But I'm afraid that GH automation suggestion seems to be missing the point.
What is the intended purpose for using GH action automation to create releases?
Tarballs are in tags or other things do not usable your workflows?

[2022-01-13 09:58] stevehipwell commented on #195
Using the following workflow will create a MVP that creates a "GitHub Release" when a release tag is pushed, this means that the GitHub release watch works and non-Rubyists can find out the latest version easily from the GitHub UI. This MVP can then be extended to automate other processes such as adding the release notes to the GH release (does rake control the changelog format?) when it's created

[2022-01-13 12:03] patrick-stephens commented on #195
It's also useful with the API to get the latest release programmatically, e.g. during deployment with Ansible or similar.

Probably best to move to a new issue though.

[2022-01-13 15:19] stevehipwell commented on #195
The issue for the GH release workflow is [fluent/fluentd#3598](https://github.com/fluent/fluentd/issues/3598) and I'll open a PR to discuss the implementation.

[2022-01-17 02:53] frankfong0208 opened #205 "fluent-bit chart higher than 0.17.0 ended up in OOM-killed for tcp input and cloudwatch_logs output plugins"
Hi there, we have deployed the fluent-bit chart in our AWS eks cluster (with 16GB Ram worker nodes and no memory contention on the nodes ). It is configured with a tcp input plugin to receive log traffic for Zscaler Cloud as a log forwarder. It then relay the Zscaler logs out to AWS cloudwatch via the cloudwatch_logs output plugin. If we use helm chart 0.18.x, 0.19.x, the fluent-bit pods will ente

[2022-01-19 09:28] frankfong0208 commented on #205
hi there just wondering if anyone can take a look into this?

[2022-01-19 11:37] shurikg commented on #170
@farnsworth you can use the tpl option to solve your doubts.

See this link https://stackoverflow.com/questions/55958507/helm-templating-variables-in-values-yaml

from the link:

[code]

[2022-01-20 11:36] slc1973 opened #206 "Use newer version of fluentd by default"
After i changed helm chart from fluentd 0.2.12 to 0.3.4 i run into issue with high CPU usage [here](https://github.com/fluent/fluentd/issues/3382)
This helm chart installs old fluentd version v1.12.4 but [v1.14.x](https://github.com/fluent/fluentd/tags) is already last year released

Will be great when this fluentd helm chart installs v1.14.x by default

My workaround was to set tag for fluent/flu

[2022-01-20 17:02] shurikg commented on #170
PR https://github.com/fluent/helm-charts/pull/207 created

[2022-01-20 17:59] agup006 commented on #205
hmm the 2GB limits seem like more than enough, what throughput are you sending through?

[2022-01-20 21:33] frankfong0208 commented on #205
Hi @agup006  how do I tell what throughput we are sending through?

[2022-01-20 21:48] agup006 commented on #205
@frankfong0208 the easiest would be to use the built-in monitoring endpoint with Fluent Bit and then do a curl on the endpoint https://docs.fluentbit.io/manual/administration/monitoring#getting-started

[2022-01-20 21:59] frankfong0208 commented on #205
@agup006 Here is something I just found (not sure if you can see throughput from here), 172.20.41.23 is the fluentbit service IP
curl http://172.20.41.23:2020/api/v1/metrics/prometheus
# HELP fluentbit_input_bytes_total Number of input bytes.
# TYPE fluentbit_input_bytes_total counter
fluentbit_input_bytes_total{name="tcp.0"} 1847525831 1642715622338
# HELP fluentbit_input_records_total Number of

[2022-01-23 21:00] frankfong0208 commented on #205
morning @agup006, just wondering if there is any update for this

[2022-01-26 23:54] frankfong0208 commented on #205
morning @agup006  any update for this

[2022-01-27 03:07] agup006 commented on #205
Hey @frankfong0208 from a quick scan of your output there seems to be a ton of data that has gone through fluent bit (I’m not sure of the rate as we would need to query the endpoint multiple times and look at the difference over time)

My assumption is you are hitting high back pressure as the output is not able to keep up with the input. One quick fix is to add workers to your configuration to se

[2022-01-27 04:03] frankfong0208 commented on #205
hi @agup006  thanks for your reply. I don't have time today, but are you able to share the docos for this so I can find some time to have a read for potential solution?

[2022-01-27 04:05] agup006 commented on #205
Here are the docs for Backpressure: https://docs.fluentbit.io/manual/administration/backpressure, for workers https://docs.fluentbit.io/manual/pipeline/outputs/cloudwatch#worker-support

[2022-01-27 21:29] ypicard opened #208 "[FEATURE REQUEST] Add service flush param as configurable chart value"
I would like to be able to update the flush service param without needing to overwrite the entire `[SERVICE]` section in the chart values here: https://github.com/fluent/helm-charts/blob/main/charts/fluent-bit/values.yaml#L270.

I get throttling problems if it is set at the current default value of 1.

Thank you

[2022-01-27 23:09] frankfong0208 commented on #205
Thanks @agup006  for sharing the docos. I added the workers option to the cloudwatch_logs output plugin, but the pods still entered the OOM kill loop.
[OUTPUT]
    Name cloudwatch_logs
    Match   SaUaApplicationSegments
    region ap-southeast-2
    log_group_name zscaler_sa_ua_applicationsegments
    log_stream_prefix ${HOST_NAME}-
    auto_create_group true
    workers 1

Are you able to orgain

[2022-01-28 05:15] agup006 commented on #205
Hey Frank, let's schedule through email as I'm on PST so may be a bit harder

[2022-01-30 22:55] frankfong0208 commented on #205
HI @agup006 just wondering if you are free now for a chat before you day ends. I see our fluent-bit pods just entered crash loop again

[2022-01-30 23:15] agup006 commented on #205
Hey Frank, as mentioned I’m in pst and it is my weekend. I would like to schedule through email to avoid spamming the issue. Can you email me to set up some time? Anurag at Calyptia dot com

[2022-01-30 23:19] frankfong0208 commented on #205
hi @agup006 sorry forgot your end is still weekend. How about tomorrow PST 2 pm? It will be 9 am for AEST timezone for me.

[2022-01-31 22:53] frankfong0208 commented on #205
morning @agup006 just wondering if there is any update for this?

[2022-02-03 01:24] frankfong0208 commented on #205
@agup006  any update please?

[2022-02-03 21:20] psheorangithub opened #211 "Vulnerability remediation for latest chart"
The latest Fluent-bit chart 0.19.18 have 2 Critical vulnerabilities. Is there any plan to remediate them?

CVE-2022-23218
CVE-2022-23219

[2022-02-04 12:12] patrick-stephens commented on #176
This seems to be an issue with the default install, can reproduce on KIND as well:
[code]

[2022-02-04 13:31] patrick-stephens commented on #176
The issue seems to be that without a valid deployment of Elastic to talk to then it fails the probes. If you deploy the default values then it wants an `elasticsearch-master` in the current namespace.  I can get it to function by just deploying the Helm chart for Elasticsearch as per: https://github.com/calyptia/fluent-bit-devtools/blob/main/deploy-elastic.sh

[code]
The logs without Elasticsearch

[2022-02-04 13:54] mickeypash commented on #176
I can confirm that @patrick-stephens 's code worked for me 👍

[2022-02-04 14:22] patrick-stephens commented on #176
It seems to be a more general Fluentd problem in that when it cannot connect to its output it is also not servicing the metric port. It just shows up here because that is then used as the probe.

[2022-02-07 17:03] dioguerra commented on #176
Hello, I found the same problem, but with IPv6 enabled clusters.

Can anyone reproduce?
I'm thinking on creating a MR to use https://docs.fluentd.org/monitoring-fluentd instead of using /metrics

[2022-02-07 17:17] patrick-stephens commented on #176
Yes, see above. You need the output available for Elastic otherwise it'll fail the metrics probe.

[2022-02-23 15:13] stevehipwell commented on #195
@patrick-stephens any luck with that repo? I've also opened https://github.com/fluent/fluentd-docker-image/issues/313 & https://github.com/fluent/fluentd-docker-image/issues/314 as the aggregator should be multiarch and I'm a fan of Alpine. I'd be interested if the workflow from https://github.com/calyptia/calyptia-fluentd-docker-image can be used in the Fluent repo?

[2022-02-28 09:32] patrick-stephens commented on #195
Apologies, been on holiday and was waiting on some other infrastructure bits so completely lost track of this one. I'll see if I can sort one, what name did we want?

On the question of workflow, we can use it (it's Apache 2 after all) or do you mean you want to use it and aren't sure? I'm happy to review any suggestion and if it makes sense then why not - better to be consistent and keep things t

[2022-03-02 17:31] patrick-stephens opened #212 "Add metrics mounts to Fluent Bit chart"
We probably should consider auto mounting, with a simple switch to disable, the necessary host mount points for metrics collection.

[2022-03-02 17:35] patrick-stephens commented on #211
This is not to do with the chart but with Fluent Bit itself and already covered by https://github.com/fluent/fluent-bit/discussions/4783

There is no issue with these CVEs is the gist so they can be ignored/suppressed.

[2022-03-03 21:04] andrevcf opened #214 "Add a service.externalTrafficPolicy to the values and service.yaml"
I'm running the fluentd charts on AKS (Azure) and the configuration with transport tls dont work because of the Health check done by the Azure Load Balancer that is a TCP LoadBalancer and don't recognize the TLS/SSL.

I installed the helm with values.yaml:
`service:
  type: "LoadBalancer"
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
  ports:
  - name: "forward

[2022-03-04 17:05] patrick-stephens opened #215 "Provide option for non-cluster role"
It would be useful in some situations to be able to limit the role to a namespace rather than always have a `clusterrole`. We can do it by disabling RBAC currently and manually managing the roles too.

[2022-03-07 09:20] stevehipwell commented on #195
@patrick-stephens I was on annual leave last week so no worries. I'd suggest the new repo should be called `fluentd-aggregator-docker-image` to match the `fluentd-docker-image` pattern?

On the workflow, I was asking of the `fluentd-docker-image` repo could adopt the Calyptia workflow for creating the images rather than how it currently works (Docker Hub builds I think)?

[2022-03-07 10:08] patrick-stephens commented on #195
OK I'll sort shortly.

On the workflow question, to me it seems fine - I'd just submit an issue+PR and we discuss there.

[2022-03-07 10:19] patrick-stephens commented on #195
@stevehipwell I've set up https://github.com/fluent/fluentd-aggregator-docker-image but can you push an initial PR asap with README, etc. basic set up?
Is there anything else left on this issue?

[2022-03-07 12:01] stevehipwell commented on #195
Thanks @patrick-stephens I'll create a PR to bring my image configuration as the official offering.

On the workflow I've created a number of issues without much luck, I'm happy to open a PR but it might be best done by someone who has visibility of the current system as I don't? I've opened #318 to track the workflow so I'm going to close this issue.

[2022-03-07 12:01] #195 closed

[2022-03-22 13:47] #201 closed

[2022-03-25 15:56] kamiNaranjo opened #220 "[Fluentd] Pods doesn't get fileConfig values"
Hi guys,

I'm not sure what I'm doing bad. I'm using the helm chart for fluentd with a custom values in fileConfigs configuration when I deploy the chart it generates a config map with the same config that I put in fileConfigs but the pod never takes that configuration.

I'm using:
- 0.3.6 chart
- v1.14.5-debian-graylog-1.1 image tag

Thanks for any help

[2022-03-25 17:10] dioguerra commented on #220
I cannot reproduce this, can you paste your values.yaml?

[2022-03-25 19:28] kamiNaranjo commented on #220
Hi @dioguerra
This are my values:
fluentd:
image:
  tag: v1.14.5-debian-graylog-1.1
resources:
  requests:
    cpu: 200m
    memory: 0.5Gi
  limits:
    cpu: 1000m
    memory: 1Gi
plugins:
  - elasticsearch
  - gelf
env:
- name: FLUENT_GRAYLOG_HOST
  value: "graylog.url.com"
- name: FLUENT_GRAYLOG_PORT
  value: "12201"
- name: FLUENT_GRAYLOG_PROTOCOL
  value: "udp"
fileConfigs:
  02_filters.conf:

[2022-03-26 17:32] trallnag commented on #76
Mounting `/var/lib/docker/containers` can be required if you are using Docker. In that case the container logs in `/var/log` are merely symlinks to `/var/lib/docker/containers`. With containerd this mount is not necessary anymore. By default `/var/lib/docker` should be completely empty.

[2022-03-26 17:36] trallnag opened #222 "Why is volume mount varlog not read-only?"
I noticed in the `values.yaml` that the varlog volume - unlike the other volume mounts - is not read-only.

[code]

In an example manifest by AWS to setup Fluent Bit the volume mount is read-only. [Link](https://raw.githubusercontent.com/aws-samples/amazon-cloudwatch-container-insights/latest/k8s-deployment-manifest-templates/deployment-mode/daemonset/container-insights-monitoring/fluent-bit/fluen

[2022-03-27 11:53] trallnag commented on #222
Already being discussed in this PR https://github.com/fluent/helm-charts/pull/216

[2022-03-28 14:03] #222 closed

[2022-04-12 13:15] dangreenlee commented on #63
Am I able to disable the testFramework?

[2022-04-14 06:22] hostalp commented on #139
Yes, even though `hostNetwork` and `dnsPolicy` settings are present in values.yaml, they aren't used in daemonset.yaml or deployment.yaml. It should be an easy fix by just adding:
[code]
to the `spec` sections of the mentioned files.

[2022-04-14 08:52] Startouf opened #227 "Release fluent-operator chart in this repository"
Would it be possible to add the helm chart for the fluent operator to this repository for easier installation ?

https://github.com/fluent/fluent-operator

Currently, the fluent-operator is not listed when adding the fluent repo and doing `helm search repo fluent`

[2022-04-14 08:58] Startouf commented on #227
I just found this issue on the operator repository mentioning the reference to be added in this repo : https://github.com/fluent/fluent-operator/issues/215

[2022-04-19 17:56] DaemonDude23 commented on #170
Looks to me like a duplicate of #126.

[2022-04-21 10:39] thethir13en opened #228 "Fluent-Bit chart: Add ability to set IP address for ClusterIP service"
Hello!
It would be nice, add ability to set additional Service parameters, such predefined ClusterIP address for fluent-bit.

[2022-06-06 13:58] ichasco-heytrade opened #233 "[Fluentd Chart] Separate port and targetPort in service template"
Hi,

It would be nice to separate in 2 different variables the `port` and the `targetPort` of fluentd to be able to create NodePort services.

[code]

Thanks!

[2022-06-15 23:10] parera10 opened #235 "[Question] How to configure hostnetwork in daemonset for openshift?"
I'm trying to configure hostnetwork (in order to enable Use_kubelet option) on a daemonset on openshift but it can run pods because something is wrong with scc. I get this error:
[code]

This is my config section:
[code]

I'm setting _securityContext_ with privileged in order to access container logs. If I left default values, fluent-bit is not able to acces to /var/log/containers/*.log

Checking

[2022-06-17 08:48] discostur opened #236 "Update fluentd to latest 1.14.x release"
Hi,

helm chart still uses the old 1.12.x release back from 2021 ... can you please upgrade the version to the latest 1.14.x release?

Thanks,
Regards
Kilian

[2022-06-23 11:59] dioguerra commented on #236
Duplicate of https://github.com/fluent/helm-charts/issues/206

[2022-06-23 11:59] #236 closed

[2022-06-24 10:11] #206 closed

[2022-06-24 10:26] dioguerra commented on #220
When you added your ENV variables, you deleted the one that points to the fluentd.conf init file. The way you have setup it will default to the container original fluentd.conf. You must NOT delete:
[code]

[2022-06-24 10:26] #220 closed

[2022-06-24 11:42] dioguerra commented on #208
Feature released as part of fluent-bit v0.19.19

[2022-06-24 11:42] #208 closed

[2022-06-24 11:45] dioguerra commented on #132
@MarjanJordanovski did you manage to fix the issue?

[2022-06-24 11:47] dioguerra commented on #131
The section you are looking for is here: https://github.com/fluent/helm-charts/blob/main/charts/fluentd/values.yaml#L175

[2022-06-24 11:47] #131 closed

[2022-06-24 11:51] dioguerra commented on #173
@mebays  said it all. Thanks!

[2022-06-24 11:51] #173 closed

[2022-06-24 12:02] #132 closed

[2022-06-24 12:23] dioguerra commented on #211
fluent-bit is not impacted by this vulnerabilities. See above.

[2022-06-24 12:23] #211 closed

[2022-06-28 12:49] stevehipwell commented on #233
@ichasco-heytrade  what is your use case for a node port?

[2022-06-29 07:39] ichasco-heytrade commented on #233
I prefer to publish the port in the nodes instead of publish through a LB. Then I use ExternalDNS to create a registry with all nodes (the number of the nodes will increase or decrease dynamically)

[2022-07-04 08:06] stevehipwell commented on #233
@ichasco-heytrade do you have a reason for this preference? Are you running in collector (DaemonSet) or aggregator (StatefulSet/Deployment) mode?

[2022-07-14 13:42] kaminirio opened #243 "The Link for config documentation is wrong"
https://github.com/fluent/helm-charts/blob/c6768cca7f72514bb906a432c961da17a1182350/charts/fluent-bit/values.yaml#L276
page doesn't exist.
I assume it should be replaced with https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/yaml/configuration-file

[2022-07-15 05:16] sanasz91mdev commented on #235
When deploying on openshift via the helm chart i am receiving errors:

`Error creating: pods "fluent-bit-" is forbidden: unable to validate against any security context constraint: [spec.volumes[1]: Invalid value: "hostPath": hostPath volumes are not allowed to be used, spec.volumes[2]: Invalid value: "hostPath": hostPath volumes are not allowed to be used, spec.volumes[3]: Invalid value: "hostPat

[2022-07-18 13:22] tretos53 opened #245 "Fluentbit to Cloud watch error = ThrottlingException, message = Rate exceeded for logStreamName"
Hi,

Getting ThrottlingException error when sending logs to Cloudwatch. How can I limit/change the rate but still send all the logs?

Any help welcome for improving below config :)

Chart: fluent-bit-0.19.20
App Version : 1.8.13

Main config:

[code]

Error:

[code]

[2022-07-21 08:11] umarkhan17 commented on #201
Hi Revanth,
I am using your values.yaml file, but my problem is that whenever i am updating fileConfig, pods are not taking that configuration. Please help!

[2022-07-21 10:42] tretos53 commented on #245
I used this guide and it works https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Container-Insights-setup-logs-FluentBit.html#Container-Insights-FluentBit-setup

[2022-07-21 10:42] #245 closed

[2022-07-25 08:40] dmcnaught commented on #180
@dioguerra Do you mean a Pull Request, PR? I'm new to this project but we would like this functionality so that K8s audit logs will get into Opensearch

[2022-07-25 11:33] dioguerra commented on #180
Yes, open a PR!

[2022-07-25 12:47] dmcnaught commented on #180
Actually no PR needed.
If you want to schedule fluentd on the master nodes, configure the tolerations section with the following yaml per
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

[code]

[2022-08-01 12:32] aberenshtein opened #246 "Should be able to override command and add arguments"
Currently, the command is hard coded to install the plugins.
We have a custom image that already has the plugins installed and we need to modify the command and arguments

[2022-08-31 17:31] Vansh-dev07 opened #251 "Fluentbit.conf showing indentation level too low while setting up output value from code"
Hi, I am trying to parse the output values for fluentbit helm chart using my EKS code and it is showing Indentation level too low error. I tried all feasible options for indentation removing spaces and adding 4 spaces, double tab and all but my fluentbit pod is running and unable to send logs to s3. showing up error:

[2022/08/31 16:14:43] [error] [config] indentation level is too low
[2022/08/31

[2022-09-01 02:51] #251 closed

[2022-09-08 15:53] rgarcia6520 opened #252 "[fluent-bit] ServiceMonitor Template Support for TLS options"
ServiceMonitor template for fluent-bit chart is missing ability to feed in `scheme` & `tlsConfig` value options. This is required when using fluent-bit inside an Istio mTLS STRICT namespace.

[2022-09-12 13:28] Rom888 commented on #194
@SimonHarrisonSH
Why did you close this issue?
Looks like an actual one.
I faced with it too.

[2022-09-12 14:59] SimonHarrisonSH commented on #194
Honestly, I don't recall, but clearly it has something to do with using the full path. I can't see anything funny in my helm values.

[2022-09-12 17:55] #252 closed

[2022-09-14 10:18] smdasoptim opened #255 "[fluentd] [0.3.9] Unable to install plugins via values.yaml (Could not find a valid gem)"
Hello!

I tried installing some plugins using the fluentd chart in version 0.3.9 and 0.3.4 via the values.yaml.
Unfortunately, the ruby gems cannot be found according to the log files:

[code]

This is what I use in my config:
[code]

I also tried other plugins like fluent-plugin-grafana-loki to ensure that its not the plugin itself causing issues.

Am I misconfiguring the values.yaml or is this a

[2022-09-14 11:52] smdasoptim commented on #255
I was using an older syntax, fixed it!

[2022-09-14 11:52] #255 closed

[2022-09-19 07:50] momoXD007 commented on #227
I can only emphasise that this would help a lot and would make it much easier to use the fluent-operator

[2022-09-22 14:34] mkilchhofer commented on #183
It's already implemented for the fluent-bit chart via https://github.com/fluent/helm-charts/pull/65

[2022-09-27 21:35] Vermyndax opened #258 "Unable to override liveness and readiness probes due to Chart.yaml"
The base values.yaml file contains liveness and readiness probes that are statically set:

`livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  httpGet:
    path: /api/v1/health
    port: http`

We're trying to deploy this into Windows nodes and require the use of powershell liveness and readiness probes. When we set those values for ourselves, we end up with both liveness and

[2022-10-03 07:23] hebrewd opened #261 "[Question] Fluentbit only ships logs of particular services to elastic."
Hi,

I've installed the fluentbit helmchart with the default settings, however I noticed that only logs from particular services in my cluster appear in the elastic I had fluentbit pointing at.
If I delete the index, it seems like other set of services take over.
I'm not sure what I'm doing wrong or what might be the cause, as I haven't fiddled with the parser myself just yet.

Although it is my f

[2022-10-04 06:48] birdx0810 opened #262 "[fluentd] Feature Request for setting statefulset `podManagementPolicy` in values"
As the title suggests. Since (I assume) fluentd does not have any master/slave dependencies, would it be better if it is set to `Parallel` by default for faster deployment, and making it a option in `values.yaml`?

[2022-10-06 10:27] AshutoshNirkhe opened #264 "err 12 timeout while contacting dns servers"
This is basically same as issue [#4050 ](https://github.com/fluent/fluent-bit/issues/4050) but still happening at v1.8.15 (at least for using Azure Log Analytics as output).
Opening a separate one as per comment from [PettitWesley](https://github.com/PettitWesley) https://github.com/fluent/fluent-bit/issues/4050#issuecomment-1113661151

[code]

[2022-10-11 20:57] Vermyndax commented on #258
Any updates to this issue?

I would suggest that the livenessProbe and readinessProbe be left out of the default chart and document that the consumers of the chart should set their own.

[2022-10-11 21:06] Vermyndax commented on #258
Also, it's worth noting that there's a bug in helm that prevents the use of a null value to keep these out:
https://github.com/helm/helm/issues/9136

We can't even get helm to render without the values when using the command line, however. Therefore, it would be very helpful to remove these from the chart.

[2022-10-13 20:15] luvsaxena1 opened #266 "Overriding CRI parser under Custom Parser in Values.Yaml is not taking correct Regex Value"
So I am adding CRI Parser with Regex `^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<log>.*)$`
However, Logs are still coming with key "message"

Override below parser
[PARSER]
        Name        cri
        Format      regex
        Regex       `^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<log>.*)$`
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z

[2022-10-13 20:17] luvsaxena1 commented on #266
**Expectation:**
time | 2018-02-13T07:59:37.505201169-05:00
stream | stdout
logtag | F
log | line 1 user=A id=foo

**Actual**
time | 2018-02-13T07:59:37.505201169-05:00
stream | stdout
logtag | F
message | line 1 user=A id=foo

[2022-10-13 20:38] luvsaxena1 commented on #266
I was overriding parser with cri name which is already an existing parser
https://github.com/fluent/fluent-bit/blob/master/conf/parsers.conf#L118

After changing above filter to some custom name it solved my issue
[code]

[2022-10-13 20:38] #266 closed

[2022-10-18 11:35] VorapratR opened #268 "Can not ship log to ELK , Elastic, Elasticsearch"
I have modified 'output in values.yaml' to something like this
<img width="785" alt="Screen Shot 2565-10-18 at 18 25 55" src="https://user-images.githubusercontent.com/40566685/196416891-11da746e-c644-4e7d-9036-a3fbc28c206a.png">
when open pod log
<img width="849" alt="Screen Shot 2565-10-18 at 18 25 05" src="https://user-images.githubusercontent.com/40566685/196416752-e2ca432d-526d-4521-8442-dc1d

[2022-10-23 10:15] Leo1003 opened #270 "fluent-bit upstream configs not mount into /fluent-bit/etc"
I used this helm chart to send the logs of my kubernetes to upstream fluentd.
I want to use the upstream configuration to prevent single point of failure.

However, after I deployed the helm chart, the pods keep complaining `cannot load Upstream file`.
After some investigation, I found that I need to add an extraVolumeMount to correctly mount my `upstream.conf`
[code]

I think the expected behavio

[2022-10-25 14:48] umuteyilmaz opened #272 "fluentd index name manipulate"
With which parameter can I change the index name variable? How can I add the indexname-"datetime" pattern to the index name?

[2022-10-26 21:24] christiangonre opened #273 "[Fluent-Bit] Add option to use debug image instance than the default"
Hi all!
I´m interested in creating a PR about adding a feature to allow users to use the debug image instead of the default.

Now if you want to use the debug image you need to overwrite the `image.tag` in the values.yaml file, so each time that you upgrade the Helm chart you need to change this variable too to be consistent with the `appVersion`

It would be great if instead of this we can use a

[2022-10-31 19:23] braunsonm opened #274 "Update fluent-bit to v2"
Version 2 of fluent-bit has been out for awhile. Would be nice to get a chart upgrade to bump the version without a value overwrite.

[2022-11-01 13:41] AndreiDoroftei commented on #274
I agree! I need this.

[2022-11-09 21:52] #274 closed

[2022-11-21 19:56] joshuakfarrar opened #285 "PodSecurityPolicy deprecated"
Per https://kubernetes.io/docs/concepts/security/pod-security-policy/, "PodSecurityPolicy was [deprecated](https://kubernetes.io/blog/2021/04/08/kubernetes-1-21-release-announcement/#podsecuritypolicy-deprecation) in Kubernetes v1.21, and removed from Kubernetes in v1.25."

Leaving this as an FYI for folks who try to install this Helm chart against the latest version of Kubernetes, minikube, etc.